@import "o-colors/main";
@import "o-grid/main";
@import "o-icons/main";
@import "o-colors/main";

$o-share-is-silent: false;
@import "ftc-share/main";
.o-share > ul {
  vertical-align: middle;
}
.o-share__action a {
  border-radius: 5px;
}
$o-footer-is-silent: false;
@import "ftc-footer/main";
@import "ftc-sticky/main";

@import "scss/colors";
@import "scss/var-mixins";
@import "scss/base";
@import "scss/header/main";
@import "scss/components/main";