#menu-toggler {
	display: none;
}

.o-header__nav-toggle {
	box-sizing: border-box;
	display: inline-block;
	position: relative;

	border: 0;
	padding: 0;
	margin: 0;
	outline: none;
	cursor: pointer;
	background: none;

	text-align: center;
	height: $o-header-bottom-height;
	width: $o-header-bottom-height;
	line-height: $o-header-bottom-height;

	span {
		display: none;
	}
	svg {
		width: 20px;
		height: 20px;
		fill: oColorsGetColorFor(o-header, text);
		position: absolute;
		left: 50%;
		top: 50%;
		margin-top: -10px;
		margin-left: -10px;		
	}
	.o-header--light & {
		svg {
			fill: oColorsGetColorFor(o-header--light, background);
		}
	}
	.icon-hamburger {
		display: inline-block;
	}
	.icon-cross {
		display: none;
	}
	
	#menu-toggler:checked ~ & {
		.icon-hamburger {
			display: none;
		}
		.icon-cross {
			display: inline-block;
		}
	}
}


.o-header__nav {
	box-sizing: border-box;
	display: none;
	padding: 0 6px;
	margin: 0;
	list-style-type: none;

	@include oColorsFor(o-header-nav, background);
	
	.o-header--light & {
		@include oColorsFor(o-header-nav--light, background);
	}

	width: 50%;
	@include oGridRespondTo(M) {
		max-width: 50%;
		width: 210px;
	}
	
	#menu-toggler:checked ~ & {
		display: block;
		position: fixed;
		top: $o-header-bottom-height;
		right: 0;
		bottom: 0;
	}
}

.o-header__nav-item {
	line-height: 34px;
	border-bottom: 1px dotted oColorsGetColorFor(o-header-divider, border);

	@include oGridRespondTo(M) {
		margin-left: 0;
		&.mobile {
			display: none;
		}
	}

	.o-header--light & {
		margin-bottom: 4px;
		border-bottom: 1px dotted oColorsGetColorFor(o-header-divider--light, border);
	}
}
.o-header__nav-link {
	text-decoration: none;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	font-size: 16px;
	display: block;
	padding: 0 15px;
	line-height: 38px;

	@include oColorsFor(o-header-item, text);

	.o-header--light &{
		@include oColorsFor(o-header-item--light, text);
		border-left: 5px solid orange;
	}

	&:hover,
	&:focus {
		color: oColorsGetColorFor(link-title-hover, text);
	}
}

