<div class="ad-placeholder">
<div class="ad-container" data-o-grid-row>
  <p class="ad-caption">广告之后 精彩继续</p>
  <div class="ad-content">
    <iframe id="{{adId}}" src="{{{adSrc}}}"></iframe>
  </div>
</div>
</div>