<script>
!function(e,a,t,n,r,c,i){e.GoogleAnalyticsObject=r,e[r]=e[r]||function(){(e[r].q=e[r].q||[]).push(arguments)},e[r].l=1*new Date,c=a.createElement(t),i=a.getElementsByTagName(t)[0],c.async=1,c.src=n,i.parentNode.insertBefore(c,i)}(window,document,'script','/index.php/jsapi/analytics','ga'),ga('create','UA-1608715-1'),ga('require','displayfeatures');try{trackerNew(),trackAdClick()}catch(err){ga('send','pageview')}
</script>
<script>
!function(e,t,a,n,c,r,s){e.FtcAnalyticsObject=c,e[c]=e[c]||function(){(e[c].q=e[c].q||[]).push(arguments)},e[c].l=1*new Date,r=t.createElement(a),s=t.getElementsByTagName(a)[0],r.async=1,r.src=n,s.parentNode.insertBefore(r,s)}(window,document,'script','/log/analytics.js','fa'),fa('create','UA-XXXX-Y',{alwaysSendReferrer:!0}),void 0===window.gAutoStart&&fa('send','pageview');
</script>