{{# sections}}
  <section class="article__section" id="nav-section-{{sectionId}}">

    <div class="section__header">
      <div class="section__header-container" data-o-grid-row>
        <h2 class="section__header-primary">{{sectionTitle}}</h2>
        <p class="section__header-secondary">{{sectionSubTitle}}</p>        
      </div>
    </div>

    <div class="section__body" data-o-grid-row>
      <div class="section__col-primary" data-o-grid-colspan>

      {{# primaryCol}}
        <p>{{paragraph}}</p>

        {{# figure?}}
        <figure class="section__figure">
          <img src="{{{src}}}" class="section__figure-image">
          <figcaption class="section__figure-caption">{{caption}}</figcaption>
        </figure>
        {{/ figure?}}

        {{# blockQuote?}}
        <figure class="section__blockquote">
          <blockquote>
          {{quote}} 
          </blockquote>
          <footer>{{footer}}</footer>
        </figure>
        {{/ blockQuote?}}

        {{# video?}}
        <div class="section__video-outer">
          <div class="section__video-inner">
            <script src="{{{src}}}" type="text/javascript"></script>
          </div>
        </div>
        {{/ video?}}

      {{/ primaryCol}}
      </div>

      {{# secondaryCol?}}
      <aside class="section__col-secondary" data-o-grid-colspan>
        {{# figure}}
        <figure class="section__figure">
          <img src="{{{src}}}" class="section__figure-image">
          <figcaption class="section__figure-caption">{{caption}}</figcaption>
        </figure>
        {{/ figure}}
      </aside>
      {{/ secondaryCol?}}

    </div>
  </section>
  
  {{# adBanner?}}
    {{> ad}}
  {{/ adBanner?}}

{{/ sections}}