{{# sections}}
  <section class="article__section" id="nav-section-{{sectionId}}">

    <div class="section__header">
      <h2 class="section__title">{{sectionTitle}}</h2>
      <p class="section__lead">{{sectionLead}}</p>
    </div>

    <div class="section__container" data-o-grid-row>
      <div class="section__primary-col" data-o-grid-colspan>

      {{# primaryCol}}
        <p>{{paragraph}}</p>

        {{# figure?}}
        <figure class="primary-col__figure">
          <img src="{{{src}}}" class="figure-image">
          <figcaption class="figure-caption">{{caption}}</figcaption>
        </figure>
        {{/ figure?}}

        {{# blockQuote?}}
        <figure class="primary-col__blockquote">
          <blockquote>
          {{quote}} 
          </blockquote>
          <footer>{{footer}}</footer>
        </figure>
        {{/ blockQuote?}}

        {{# video?}}
        <div class="video__container">
          <div class="video__inner">
            <script src="{{{src}}}" type="text/javascript"></script>
          </div>
        </div>
        {{/ video?}}

      {{/ primaryCol}}
      </div>

      {{# secondaryCol?}}
      <aside class="section__secondary-col" data-o-grid-colspan>
        {{# figure}}
        <figure class="secondary-col__figure">
          <img src="{{{src}}}" class="figure-image">
          <figcaption class="figure-caption">{{caption}}</figcaption>
        </figure>
        {{/ figure}}
      </aside>
      {{/ secondaryCol?}}
    </div>
  </section>
  
  {{# adBanner?}}
  <div class="ad-placeholder">
    <div class="ad-container">
      <p class="ad-caption">广告之后 精彩继续</p>
      <div class="ad-body">
        <iframe id="{{adId}}" src="{{{adSrc}}}"></iframe>
      </div>
    </div>
  </div>
  {{/ adBanner?}}

{{/ sections}}