<article class="article" role="main">
    <header class="article__header">
        <div class="article__header-primary">
            <h1 class="article__headline">缅甸失地农民</h1>

            <p class="article__lead">田园不在，无所归依</p>  
        </div>
        
        <div class="article__time-byline">
        {{# publishedDate?}}
          <time class="article__timestamp o-date" data-o-component="o-date" datetime="" title="">{{date}}</time>
        {{/ publishedDate?}}
        {{# byline?}}
          <p class="article__byline">{{byline}}</p>
        {{/ byline?}}
        </div> 
    </header>

    <section class="article__section">
      <div class="section__header">
        <h2 class="section__title">1. The Lost Fields</h2>
        <p class="section__lead">Michael Peel reports from Myanmar where the end of dictatorship has unleashed a struggle over land</p>
      </div>
      <div class="section__container">
        <div class="section__body">
          <p>从马可•波罗(Marco Polo)和忽必烈(Kublai Khan)的时代开始，中国就一直对外国人有着一种吸引力——要说眼下哪座中国城市对外国人吸引力最大，恐怕非中国风最淡的上海莫属。</p>
          <p>用了几乎不到一代人的时间，上海就把自身从一座街道狭窄、建筑破旧、商业被数十年的共产主义体制拖垮的城市，改造为一座人口2300万、遍地摩天大厦和豪华商场的未来派大都市，成为无可争议的中国金融之都。在此期间，那些曾在上世纪把上海打造为“亚洲巴黎”的欧美人也回来了（与他们一同到来的还有成千上万日本人、韩国人、台湾人和新加坡人），试图帮助这座城市实现它在21世纪的梦想，即变身为“亚洲的纽约”。</p>

          <figure>
            <img alt="" src="">A picture inserted into the normal DOM flow</figcaption>
          </figure>          
        </div>


        <aside class="section__aside">
          <img src="./images/shanghai-shorthand-chartpart1-lr_f76r7qt.jpg">
          <p>Data Visualization box</p>
        </aside>
      </div>
    </section>
<!-- Ad -->            
    <div class="ad-placeholder">
      <div class="ad-container">
        <p class="ad-caption">广告之后 精彩继续</p>
        <div id="ad-body">I'm Ads</div>
      </div>
    </div>  

<!-- section 2 -->
    <section id="nav-target-2" class="section-2 nav-target">
        <div class="section-cover text-over-media">
              <p class="section-head">职场规则</p>
              <p class="section-lead">‘对西方人来说，在华工作需要具备一套特别的技能——有时甚至对其他东亚国家的人来说也是如此’</p>
        </div>

        <div class="content-column">
            <p>“为了最有效地跟中国打交道，外国人应当适应一个现实，即中国有一套中国特有的规则，”祈立天(Tim Clissold)在他的新书<cite>《中国规则》(Chinese Rules: Mao’s Dog, Deng’s Cat and Five Timeless Lessons from the Front Lines in China)</cite>中写道。该书建议那些想在华做生意的人研究下中国的古典著作，从<cite>《孙子兵法》</cite>到《三十六计》等。 </p>
            <aside class="aside">
              <img src="./images/xu5869863a_man_walks_past_a_br-lr_efmm7z3.jpg">  
            </aside>      
            <figure class="quote-block">
                <blockquote>
                ‘选择标准不应基于表现，而应基于个性。在中国，谦逊才能成事，粗鲁只会碰壁’ 
                </blockquote>
                <footer>中欧国际工商学院(Ceibs)副教授金台烈(Tae-Yeol Kim)</footer>
            </figure>
        </div>

        <div class="video-outer">
            <div class="video-inner">
              <script src="http://p.bokecc.com/player?vid=402E9E7943F29BFD9C33DC5901307461&siteid=922662811F1A49E9&autoStart=false&width=100%&height=100%&playerid=3571A3BF2AEC8829&playertype=1" type="text/javascript"></script>
            </div>
        </div>

        <div class="content-column">
            <p>“为了最有效地跟中国打交道，外国人应当适应一个现实，即中国有一套中国特有的规则，”祈立天(Tim Clissold)在他的新书<cite>《中国规则》(Chinese Rules: Mao’s Dog, Deng’s Cat and Five Timeless Lessons from the Front Lines in China)</cite>中写道。该书建议那些想在华做生意的人研究下中国的古典著作，从<cite>《孙子兵法》</cite>到《三十六计》等。 </p>
            <aside class="aside sticky-element">
                <img src="./images/_ab_1148-mr_lbemwr6.jpg">
            </aside>
            <figure class="quote-block">
                <blockquote>
                ‘选择标准不应基于表现，而应基于个性。在中国，谦逊才能成事，粗鲁只会碰壁’ 
                </blockquote>
                <footer>中欧国际工商学院(Ceibs)副教授金台烈(Tae-Yeol Kim)</footer>
            </figure>  
        </div>
    </section>

    <div class="ad-section">
        <div class="ad-wrapper">
            <p class="caption">广告之后 精彩继续</p>
            <div id="ad-container">I'm Ads</div>
        </div>
    </div>             
<!-- section 3 -->
    <section id="nav-target-3" class="section-3 nav-target">
        <div class="section-cover text-over-media">
            <p class="section-head">文化，请拨1</p>
            <p class="section-lead">‘在上海过西方式生活，比在其他任何中国城市都容易得多’</p>
        </div>

        <div class="content-column">
            <p>“你是说，除了全职保姆，我还喜欢在上海生活的哪些方面？”上海“男太太”（即随迁丈夫）群体中的一员雷•赫拉蒂(Ray Heraty)问道。中国人管妻子叫“太太”，男太太的戏称便由此而生。赫拉蒂在家陪三个小孩，他太太是一家美国科技公司的高管。像大多数女性或男性随迁配偶（现在男性比例越来越高）一样，他喜欢上海便宜的家政服务，一名全职保姆的月薪在3000至6000元人民币（合490至980美元）之间。他说：“这意味着，每周有一个晚上我能跟妻子约会。”</p>
            <p>在上海过西方式生活，比在其他任何中国城市都容易得多，并且一直是越来越容易。“上海有更多的（国际）饭店、学校，以及花样更多的娱乐方式、甚至体育运动，”驻上海的顶级国际迁居服务公司Santa Fe Relocation中国区总经理詹姆斯•古丁(James Gooding)表示，“凯蒂•佩里(Katy Perry)（近来在这里举办了）两场音乐会，这在过去是绝没有的，它提升了这座城市的生活乐趣和国际化档次。”</p>
            <aside class="aside">
                <img src="./images/8116e42f71ba95bb44401f1249dbfc86.jpg">
            </aside>                  
            <figure class="quote-block">
              <blockquote>‘西式医疗和教育服务贵得离谱’</blockquote>  
            </figure>
        </div>  
    </section>
    
    <footer class="story-footer text-over-media">
        <p class="conclusion">‘在中国这片土地上，人人都能纵情于内心深处的马可•波罗情怀’</p>  
    </footer>

    <div class="ad-section">
      <div class="ad-wrapper">
        <p class="caption">广告之后 精彩继续</p>
        <div id="ad-container">I'm Ads</div>
      </div>
    </div>  
</article>