<section class="credits">
  <div class="credits__container">
    {{# credits}}
      <div data-o-grid-colspan>
        <h3 class="credits__title">{{title}}</h3>
        <ul class="credits__items">
          {{# items}}
            <li>{{.}}</li>
          {{/ items}}
        </ul>        
      </div>
    {{/ credits}}    
  </div>
</section>