<section class="credits text-over-media">
      <h3>制作团队</h3>
      <ul>
          <li>作者：英国《金融时报》驻上海记者帕提•沃德米尔(Patti Waldmeir)；补充报道：张嫣</li>
          <li>视频与图片：鲍考什•阿尔吉尔达斯(Bakas Algirdas)</li>
          <li>视频编辑：保罗•帕斯夸尔(Paolo Pascual)</li>
      </ul>
      <h3>摄影</h3>
      <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
      </ul>
</section>