<footer class="o-footer" data-o-component="o-footer">
  <div class="o-footer__container">
    <nav class="o-footer__row o-footer__nav">
       <ul class="o-footer__section-list">
          <li class="o-footer__link"><a href="http://www.ftchinese.com/">首页</a></li>
          <li class="o-footer__link"><a href="http://www.ftchinese.com/channel/china.html">中国</a></li>
          <li class="o-footer__link"><a href="http://www.ftchinese.com/channel/world.html">全球</a></li>
          <li class="o-footer__link"><a href="http://www.ftchinese.com/channel/economy.html">经济</a></li>
          <li class="o-footer__link"><a href="http://www.ftchinese.com/channel/markets.html">金融市场</a></li>
          <li class="o-footer__link"><a href="http://www.ftchinese.com/channel/business.html">商业</a></li>
          <li class="o-footer__link"><a href="http://www.ftchinese.com/channel/opinion.html">观点</a></li>
          <li class="o-footer__link"><a href="http://www.ftchinese.com/channel/management.html">管理</a></li>
          <li class="o-footer__link"><a href="http://www.ftchinese.com/channel/lifestyle.html">生活时尚</a></li>
        </ul>
    </nav>
    <div class="o-footer__row o-footer__copyright">
        <span>&#xA9; FT中文网 2016.</span>
        <span><abbr title="Financial Times">FT</abbr> and &#x2018;Financial Times&#x2019; are trademarks of The Financial Times Ltd.</span>
    </div> 
  </div>      
</footer>