<header class="o-header o-header--nav-sticky" data-o-component="o-header">
  <div class="o-header__primary">
    <div class="o-header__primary__left">

      <a class="o-header__logo-square" href="http://www.ftchinese.com" title="前往FT中文网首页"><span>FT中文网</span></a>

      <h1 class="o-header__title">调查报道</h1>

      <a class="o-header__edition" href="">英文版</a>
    </div>

    <div class="o-header__primary__center">
      <div class="o-header__masthead">
        <a href="http://www.ftchinese.com" title="前往FT中文网首页"><span>FT中文网</span>
        </a>
      </div>   
      <h2 class="o-header__article-title">Title of This Article</h2>
    </div>

    <nav class="o-header__primary__right">
      <button class="o-header__nav-toggle"><span>目录</span></button>
      <ul class="o-header__nav">
        <li class="o-header__nav-item">
          <a class="o-header__nav-link" href="#nav-section-0">序</a>
        </li>
        {{# sections}}
        <li class="o-header__nav-item">
          <a class="o-header__nav-link" href="#nav-section-{{sectionId}}">{{sectionTitle}}</a>
        </li>
        {{/ sections}}
      </ul>
    </nav>   
  </div>
</header>