<header class="o-header o-header--{{header.theme}}" data-o-component="o-header">

    <div class="o-header__container">

      <div class="o-header__left">
        <div class="o-header__logo">
          <a class="o-header__logo-link" href="http://www.ftchinese.com" target="_blank" title="前往FT中文网首页"><span>FT中文网</span><img src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Finteractive.ftchinese.com%2Fftc-logos%2Fbrand-ftc-logo-square.svg?source=ftchinese&height=50&format=png" target="_blank"></a>
        </div> 
               
        <div class="o-header__series">
          <span>{{seriesTitle}}</span>
          {% if autoNav and edition %}
            <a class="o-header__edition" href="{{edition.href}}" target="_blank">{{edition.text}}</a>
          {% endif %}
        </div>
      </div>

      <div class="o-header__center">
        <div class="o-header__title">
          {% if config.navOnHeader %}
            {% for section in sections %}
              {% if section.nav %}
                <a class="o-header__nav-link" href="#{{section.nav.id}}">{{section.nav.text}}</a>
              {% endif %}
            {% endfor %}
          {% else%}
            
            <span class="o-header__headline">{{title.text}}</span>
            
          {% endif %}
          {% if edition%}
            <a class="o-header__edition" href="{{edition.href}}" target="_blank">{{edition.text}}</a>
          {% endif %}
        </div>
      </div>

      <div class="o-header__right" data-o-component="o-toggle">
        <div class="o-share o-share--{{share.theme}}" data-o-component="o-share"></div>

        <button class="o-header__nav-toggle" data-o-toggle-button aria-controls=".o-header__nav">
          <span>目录</span>
        </button>
        
        <ol class="o-header__nav" data-o-toggle-target>
          {% for section in sections%}
            {% if section.nav %}
              <li class="o-header__nav-item">
                <a class="o-header__nav-link" href="#{{section.nav.id}}">{{section.nav.text}}</a>
              </li>
            {% endif %}
          {% endfor %}
          
          {% if edition %}
            <li class="o-header__nav-item mobile">
              <a class="o-header__edition" href="{{edition.href}}" target="_blank">{{edition.text}}</a>
            </li>
          {% endif %}
        </ol>           
      </div>         
    </div><!-- o-header__container -->    

</header>