<svg style="display:none;">
{% include "partials/cross.svg" %}
{% include "partials/hamburger.svg" %}
</svg>
<header class="o-header o-header--{{header.theme}}" data-o-component="o-header">

    <div class="o-header__container">

      <div class="o-header__left">
        <div class="o-header__logo">
          <a class="o-header__logo-link" href="http://www.ftchinese.com" target="_blank" title="前往FT中文网首页"><span>FT中文网</span><img src="{{iconsPath}}/svg/brand-square.svg" target="_blank"></a>
        </div> 
               
        <div class="o-header__series">
          <span>{{seriesTitle}}</span>
          {% if autoNav and edition %}
            <a class="o-header__edition" href="{{edition.href}}" target="_blank">{{edition.text}}</a>
          {% endif %}
        </div>
      </div>

      <div class="o-header__center">
        {% if not autoNav %}
        <div class="o-header__title">
          <span class="o-header__headline">{{pageTitle}}</span>
          {% if edition%}
          <a class="o-header__edition" href="{{edition.href}}" target="_blank">{{edition.text}}</a>
          {% endif %}
        </div>
        {% endif %}
      </div>

      <div class="o-header__right" data-o-component="o-toggle">
        <div class="o-share o-share--{{share.theme}}" data-o-component="o-share"></div>

        <button class="o-header__nav-toggle" data-o-toggle-button aria-controls=".o-header__nav">
          <span>目录</span>
          <svg class="o-icons__hamburger">
            <use xlink:href="#o-icons__hamburger"></use>
          </svg>
          <svg class="o-icons__cross">
            <use xlink:href="#o-icons__cross"></use>
          </svg>
        </button>
        
        <ol class="o-header__nav" data-o-toggle-target>
          {% for section in sections%}
            {% if section.navText %}
            <li class="o-header__nav-item">
              <a class="o-header__nav-link" href="#section-{{loop.index}}">{{section.navText}}</a>
            </li>
            {% endif %}
          {% endfor %}
          
          {% if edition %}
            <li class="o-header__nav-item mobile">
              <a class="o-header__edition" href="{{edition.href}}" target="_blank">{{edition.text}}</a>
            </li>
          {% endif %}
        </ol>           
      </div>         
    </div><!-- o-header__container -->    

</header>