<header class="ig-head ig-head--{{type}}" data-o-grid-container>

  <div class="ig-head__primary">
    {% if lead %}
    <p class="ig-head__lead">{{lead}}</p>
    {% endif %}
<!-- this is used as article title -->
    {% if title %}
    <h1 class="ig-head__title">{{title}}</h1>
    {% endif %}
<!-- This is used as section title -->
    {% if caption %}
    <h2 class="ig-head__caption">{{caption}}</h2>
    {% endif %}
<!-- this is used as subtitle for both article's title or section's title. -->
    {% if subtitle %}
    <h3 class="ig-head__subtitle">{{subtitle}}</h3>
    {% endif %}

    {% if intro %}
    <p class="ig-head__intro">{{intro}}</p>
    {% endif %}
  </div>

  {% if publishTime or author %}
  <div class="ig-head__byline">
    <time class="ig-head__timestamp o-date">{{publishTime}}</time>
    <p class="ig-head__author">{{author}}</p>
  </div>
  {% endif %}
</header>
 