<header class="ig-head ig-head--{{headFor}}" data-o-grid-container>

  <div class="ig-head__primary">
    {{#lead}}
    <p class="ig-head__lead">{{lead}}</p>
    {{/lead}}
<!-- this is used as article title -->
    {{#title}}
    <h1 class="ig-head__title">{{title}}</h1>
    {{/title}}
<!-- This is used as section title -->
    {{#heading}}
    <h2 class="ig-head__heading">{{heading}}</h2>
    {{/heading}}
<!-- this is used as subtitle for both article's title or section's title. -->
    {{#subtitle}}
    <h3 class="ig-head__subtitle">{{subtitle}}</h3>
    {{/subtitle}}

    {{#intro}}
    <p class="ig-head__intro">{{intro}}</p>
    {{/intro}}
  </div>

  {{#byline}}
  <div class="ig-head__byline">
    <time class="ig__timestamp o-date">{{publishTime}}</time>
    <p class="ig__author">{{author}}</p>
  </div>
  {{/byline}}
</header>
 