<figure class="ig-figure ig-figure--image
{% if image.mobileOnly %}ig-figure--mobile{% endif %}">

	{% if image.title %}
	  <h4 class="ig-figure__title">{{image.title}}</h4>
	{% endif %}

  {% if image.link %}
    <a class="ig-figure__aspect-ratio" href="{{image.link}}" data-aspect-ratio="{{image.ratio}}">
  {% else %}
    <div class="ig-figure__aspect-ratio" data-aspect-ratio="{{image.ratio}}">
  {% endif %}

    <img src="{{env.urlPrefix}}{{image.src}}" class="ig-figure__media">
  
    {% if image.topText %}
      <figcaption class="ig-figure__image-text">{{image.topText}}</figcaption>
    {% endif %}

  {% if image.link %}
    </a>
  {% else %}
    </div>
  {% endif %}         
  
  {% if image.caption %}
    <figcaption class="ig-figure__caption">
      {% if image.link %}<a href="{{image.link}}">{% endif %}
        {{image.caption }}
      {% if image.link %}</a>{% endif %}
    </figcaption>
  {% endif %}

</figure>