<figure class="ig-figure ig-figure--image
{{#mobileOnly}}ig-figure--mobile{{/mobileOnly}}" data-media-ratio="{{ratio}}"
{{#extraStyles}}style="{{extraStyles}};"{{/extraStyles}}>
	{{# title}}
	<h4 class="ig-figure__title">{{title}}</h4>
	{{/ title}}
	
  {{# link}}<a{{/ link}}
  {{^ link}}<div{{/ link}}
  class="ig-figure__image lazyload__outer"
  {{# link}}href="{{{link}}}"{{/ link}} style="{{#heightToWidth}}padding-top:{{heightToWidth}};{{/heightToWidth}}">

    <img src="{{{src}}}" class="lazyload__inner">
    
    {{#textOnImage}}
    <figcaption class="ig-figure__image-text">{{textOnImage}}</figcaption>
    {{/textOnImage}}

  {{# link}}</a>{{/ link}}
  {{^ link}}</div>{{/ link}}         
  
  {{#caption}}
  <figcaption class="ig-figure__caption">
    {{caption }}
  </figcaption>
  {{/caption}}

</figure>