<figure class="ig-slide">
	<img class="ig-slide__image"data-slide-set="{{#slideSets}}{{{src}}} {{/slideSets}}">

	<figcaption class="ig-slide__caption" data-slide-set="{{#slideSets}}{{{caption}}} {{/slideSets}}"></figcaption>
</figure>