<div class="ig-scrollmation">
  <div class="ig-scrollmation__wrapper sticky-element">
    
    {# `picture` is set in `scroll-over-media.html` #}
    {% if background %}
      <picture class="ig-scrollmation__background">
        <img src="{{env.urlPrefix}}{{background.src}}" alt="">
      </picture>
    {% endif %}
    
    {# `slides` is set in `ig-column` #}
    {% for slide in slides %}
      <figure class="ig-figure">
        <img src="{{env.urlPrefix}}{{slide.src}}" alt="">
        <figcaption class="ig-figure__caption">{{slide.caption}}</figcaption>
      </figure>
    {% endfor %}

  </div>
</div>
