<figure class="ig-figure ig-figure--video" data-media-ratio="9/16">

  {{#title}}
  <h4 class="ig-figure__title">{{title}}</h4>
  {{/title}}

  <div class="ig-figure__video lazyload__outer">
    {% if video.provider == "cc" %}
    <div class="lazyload__inner">
      <script src="{{video.src}}" type="text/javascript"></script>
    </div>
    {% endif %}

    {% if video.provider == "ft" %}
    <video class="lazyload__inner" preload="metadata" controls poster="{{video.poster}}">
      {% for type, src in video.source %}
      <source src="{{src}}" type="{{type}}">
      {% endfor %}
    </video>
    {% endif %}
  </div>

  {{#caption}}
  <figcaption class="ig-figure__caption">{{caption}}</figcaption>
  {{/caption}}  
</figure>
