<figure class="ig-figure ig-figure--video">

  {% if video.title %}
  <h4 class="ig-figure__title">{{video.title}}</h4>
  {% endif %}

  <div class="ig-figure__aspect-ratio" data-aspect-ratio="9/16">
    {% if video.provider == "cc" %}
    <div class="ig-figure__media">
      <script src="{{video.src}}" type="text/javascript"></script>
    </div>
    {% endif %}

    {% if video.provider == "ft" %}
    <video class="ig-figure__media" preload="metadata" controls poster="{{env.urlPrefix}}{{video.poster}}">
      {% for source in video.sources %}
      <source src="{{source.src}}" type="{{source.type}}">
      {% endfor %}
    </video>
    {% endif %}
  </div>

  {% if video.caption %}
  <figcaption class="ig-figure__caption">{{video.caption}}</figcaption>
  {% endif %}  
</figure>