<meta property="og:title" content="{{ogTitle}}"/>
<meta property="og:type" content="{{ogType}}"/>
<meta property="og:image" content="{{{ogImage}}}"/>
<meta property="og:url" content="{{{ogUrl}}}">
<meta property="og:description" content="{{description}}" />
<meta property="og:locale" content="zh-Hans">
<meta property="og:site_name" content="FT中文网">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@FTChinese">
<meta name="twitter:title" content="{{ogTitle}}">
<meta name="twitter:description" content="{{description}}">
<meta name="twitter:image" content="{{ogImage}}">
<link rel="apple-touch-icon" sizes="180x180" href="{{{iconsPath}}}favicons/apple-touch-icon-180x180.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{{iconsPath}}}favicons/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{{iconsPath}}}favicons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{{iconsPath}}}favicons/apple-touch-icon-76x76.png">
<link href="{{{iconsPath}}}favicons/favicon.ico" type="image/x-icon" rel="shortcut icon" />
<title>{{pageTitle}} - FT中文网</title>