<div class="read-more">
  {% if readMore.image %}
    {% set image = readMore.image %}
    {% include "partials/ig-image.html" %}
  {% endif %}
  
  {% if readMore.title %}
  <h4 class="read-more__title">{{readMore.title}}</h4>
  {% endif %}

  {% if readMore.summary %}
    <div class="read-more__summary">
      {{readMore.summary | md}}        
    </div>
  {% endif %}
  
  {% if readMore.items %}
    <ul class="read-more__items">
      {% for item in readMore.items %}
        <li><a href="{{item.href}}">{{item.text}}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

</div>