<div class="related-reading">
  <div class="content-column">
      <h4>相关阅读1</h4>
      <ul>
        <li><a href="#">Article Link 1</a></li>
        <li><a href="#">Article Link 2</a></li>
        <li><a href="#">Article Link 3</a></li>
        <li><a href="#">Article Link 4</a></li>
      </ul>
      <h4>相关阅读2</h4>
      <ul>
        <li><a href="#">Article Link 1</a></li>
        <li><a href="#">Article Link 2</a></li>
        <li><a href="#">Article Link 3</a></li>
        <li><a href="#">Article Link 4</a></li>
      </ul>               
  </div>
</div>