<div class="suggested-reads">
  {{#image}}
    {{> partials/ig-image}}
  {{/image}}
{{!-- sr: short for suggested reads --}}
  {{#srTitle}}
  <h3 class="suggested-reads__title">
    {{#link}}<a href="{{{link}}}">{{/link}}
    {{srTitle}}
    {{#link}}</a>{{/link}}
  </h3>
  {{/srTitle}}

  {{#srSummary}}
  <p class="suggested-reads__summary">{{{.}}}</p>
  {{/srSummary}}

  {{#srList}}
  <ul class="suggested-reads__list">
    {{#listItem}}
    <li class="suggested-reads__list-item">
      <a href="{{{href}}}">{{text}}</a>
    </li>
    {{/listItem}}
  </ul>
  {{/srList}}  
</div>
