<!DOCTYPE html>
<html lang="zh-Hans" class="{% if config.enableScroll %}enable-scrollmation{% endif %}
{% if config.autoNav %}enable-autonav{% endif %}
{% if config.demo %}demo{% endif %}">
<head> 
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{meta.title}} - FT中文网</title>
  <meta name="author" content="FTC Interactive Graphics"> 
  <meta name="description" content="{{meta.description}}">
  <meta name="keywords" content="{{meta.keywords}}">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="copyright" content="FT中文网">
  <meta name="robots" content="index,follow">
  
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />

  <meta property="og:title" content="{{meta.og.title}}"/>
  <meta property="og:type" content="{{meta.og.type}}"/>
  <meta property="og:image" content="{{meta.og.image}}"/>
  <meta property="og:url" content="{{meta.og.url}}">
  <meta property="og:description" content="{{meta.og.description}}" />
  <meta property="og:locale" content="zh-Hans">
  <meta property="og:site_name" content="meta.og.site_name">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@FTChinese">
  <meta name="twitter:title" content="{{meta.og.title}}">
  <meta name="twitter:description" content="{{meta.og.description}}">
  <meta name="twitter:image" content="{{meta.og.image}}">

  <link rel="apple-touch-icon" sizes="180x180" href="{{env.static}}/favicons/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{env.static}}/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{env.static}}/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{env.static}}/favicons/apple-touch-icon-76x76.png">
  <link href="{{env.static}}/favicons/favicon.ico" type="image/x-icon" rel="shortcut icon" />

  <link inline rel="stylesheet" type="text/css" href="styles/main.css">
  {% if config.customCss %}
    {% if env.isProduction %}
      <style>
        {% include "styles/" + env.projectName + ".css" %}
      </style>
    {% else %}
      <link rel="stylesheet" type="text/css" href="styles/{{env.projectName}}.css">
    {% endif %}
  {% endif %}

  {% if env.isProduction %}
    {% include "partials/analytics.html" %}
  {% endif %}
</head>

<body>
  <img src="{{meta.wx}}" style="display:block; width:0px; height:0px; overflow:hidden">
	{% include "partials/o-header.html" %}

	{% block content %}{% endblock %}

	{% include "partials/o-footer.html" %}

	{% if highcharts %}
	<script src="/bower_components/highcharts/highcharts.js"></script>
	{% endif %}

	{% if d3 %}
	<script src="/bower_components/d3/d3.min.js"></script>
	{% endif %}

	<script inline src="scripts/main.js"></script>
  
	{% if customJs %}
	<script inline src="scripts/{{env.projectName}}.js"></script>
	{% endif %}
</body>
</html>