{% extends "layouts/base.html" %}

{% block content %}
  <article class="chapter-list article" role="main">

    {% for chapter in chapters %}
      <div class="ig-chapter"{% if chapter.nav.id %} id="{{chapter.nav.id}}"{% endif %}>
        {% if chapter.cover %}
          {% set picture = chapter.cover.image %}
          {% set video = chapter.cover.vedio %}
          {% include "partials/ig-background.html" %}
        {% else %}
          {% for section in chapter.sections %}
            <section class="ig-section {{section.type}}">
              {% include section.type + ".html" %}
            </section>
          {% endfor %}
        {% endif %}
      </div>
    {% endfor %}
  </article>

  {% for group in suggestedReads %}
    <div class="suggested-reads o-grid-container">

      {% if group.title %}
      <h2 class="suggested-reads__title">{{group.title}}</h2>
      {% endif %}  

      <div class="o-grid-row">
        {% for column in group.columns %}
          {% include "partials/read-more.html" %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
{% endblock %}