<!DOCTYPE html>
<html lang="zh-Hans" class="{{#enableScroll}}enable-scrollmation{{/enableScroll}}{{#autoNav}} enable-autonav{{/autoNav}}">
<head> 
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="copyright" content="FT中文网">
  <meta name="robots" content="index,follow">
  <meta name="author" content="FTC Interactive Graphics"> 
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />

  {{> partials/meta}}

  <!-- smoosh-->
  <!-- build:css styles/bundle.css -->
  <link rel="stylesheet" type="text/css" href="styles/main.css">
{{# customCss}}
  <link rel="stylesheet" type="text/css" href="styles/{{projectName}}.css">
{{/ customCss}}
  <!-- endbuild -->
  <!-- endsmoosh -->

{{# analytics}}
  {{> partials/analytics}}
{{/ analytics}}
</head>

<body>
<img src="{{{wechatImage}}}" style="display:block; width:0px; height:0px; overflow:hidden">

{{> partials/header}}

{{> article/main}}

{{# footer}}
  {{> partials/footer}}
{{/ footer}}



{{# highcharts}}
<script src="/bower_components/highcharts/highcharts.js"></script>
{{/ highcharts}}

{{# d3}}
<script src="/bower_components/d3/d3.min.js"></script>
{{/ d3}}

<!-- smoosh -->
<!-- build:js scripts/bundle.js-->
<script src="scripts/main.js"></script>
{{# customJs}}
<script src="scripts/{{projectName}}.js"></script>
{{/ customJs}}
<!-- endbuild -->
<!-- endsmoosh -->

<!-- build:js http://static.ftchinese.com/js/log.js?v=6 -->
<script src=""></script>
<!-- endbuild -->
</body>


</html>