{% extends "layouts/base.html" %}

{% block content %}
  <article class="chapter-list article" role="main">

    {% for chapter in chapters %}
      <div class="ig-chapter"{% if chapter.nav.id %} id="{{chapter.nav.id}}"{% endif %}>

        {% for section in chapter.sections %}
          <section class="ig-section {{section.type}}{%if section.text%} has-text{%endif%}">
            {% include section.type + ".html" %}
          </section>
        {% endfor %}

      </div>
    {% endfor %}
  </article>

  {% for group in suggestedReads %}
    <div class="suggested-reads o-grid-container">

      {% if group.title %}
      <h2 class="suggested-reads__title">{{group.title}}</h2>
      {% endif %}  

      <div class="o-grid-row">
        {% for column in group.columns %}
          {% include "partials/read-more.html" %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
{% endblock %}