{% extends "base.html" %}

{% block content %}
<article class="article" role="main">

{% for section in sections %}
<section class="section" id="section-{{loop.index}}">
  {% for segment in section.segments %}

    {% set media = segment.media %}
    {% set text = segment.text %}

    {% set colPrimary = segment.colPrimary %}
    {% set colSecondary = segment.colSecondary %}

    {% include segment.type + ".html" %}
  {% endfor %}

  {% if ad %}
  <div class="section-ad">
    <div class="section-ad__container o-grid-container">
      <p class="section-ad__title">广告之后 精彩继续</p>
      <div class="section-ad__content">
        <iframe id="section-{{loop.index}}-ad" src="{{ad}}"></iframe>
      </div>
    </div>
  </div>
  {% endif %}
</section>
{% endfor %}

{% for group in suggestedReads %}
<div class="suggested-reads o-grid-container">

  {% if group.title %}
  <h2 class="suggested-reads__title">{{group.title}}</h2>
  {% endif %}  

  <div class="o-grid-row">
    {% for column in group.columns %}
      {% include "partials/read-more.html" %}
    {% endfor %}
  </div>
  
</div>
{% endfor %}

</article>
{% endblock %}