<!DOCTYPE html>
<html lang="zh-Hans" class="{{#article.scrollmation}}enable-scrollmation{{/article.scrollmation}}">
<head> 
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="copyright" content="FT中文网">
  <meta name="robots" content="index,follow">
  <meta name="author" content="FTC Interactive Graphics"> 
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />
{{# article}}
  {{> partials/meta}}
{{/ article}}

  <!-- smoosh-->
  <link rel="stylesheet" type="text/css" href="styles/main.css">
  <!-- endsmoosh -->
{{# analytics}}
  {{> partials/analytics}}
{{/ analytics}}
</head>

<body>
<img src="{{{article.wechatImage}}}" style="display:block; width:0px; height:0px; overflow:hidden">
{{# article}}
  {{> header}}
{{/ article}}

{{# article}}
  {{> article/main}}
{{/ article}}

{{# footer}}
  {{> footer}}
{{/ footer}}

<!-- smoosh -->
<script src="scripts/bundle.js"></script>
<!-- endsmoosh -->

<!-- build:log -->
<script src=""></script>
<!-- endbuild -->
</body>


</html>