{% extends "layouts/base.html" %}
{% block css %}
  <link inline rel="stylesheet" type="text/css" href="styles/main.css">

	{% if config.customCss %}
  <link inline rel="stylesheet" type="text/css" href="styles/{{env.projectName}}.css">
	{% endif %}

	{% if env.isProduction %}
  	{% include "partials/analytics.html" %}
	{% endif %}
{% endblock %}

{% block body %}
	<img src="{{meta.wx.image}}" style="display:block; width:0px; height:0px; overflow:hidden">
	{% include "partials/header.html" %}

	{% block content %}{% endblock %}

	{% include "partials/o-footer.html" %}

	{% if highcharts %}
	<script src="/bower_components/highcharts/highcharts.js"></script>
	{% endif %}

	{% if d3 %}
	<script src="/bower_components/d3/d3.min.js"></script>
	{% endif %}

	<script inline src="scripts/main.js"></script>
	{% if customJs %}
	<script inline src="scripts/{{env.projectName}}.js"></script>
	{% endif %}

	{% if env.isProduction %}
	<script src="http://static.ftchinese.com/js/log.js?v=6"></script>
	{% endif %}
{% endblock %}