<div class="section-columns">
	<div class="o-grid-container">
		<div class="o-grid-row">
			<div class="section-col__primary" data-o-grid-colspan="12 M6">
				<div class="section-col__primary-inner">
        {% for content in colPrimary %}
          
          {% for text in content.text %}
          <p>{{text}}</p>
          {% endfor%}

          {% if content.image %}
          {% set image = content.image %}
          {% include "partials/ig-image.html" %}
          {% endif %}

          {% if content.video %}
          {% set video = content.video %}
          {% include "partials/ig-video.html" %}
          {% endif %}

          {% if content.quote %}
          {% set quote = content.quote %}
            <figure class="ig-blockquote">
              <blockquote class="ig-blockquote__text">
              {{quote.text}} 
              </blockquote>
              <figcaption class="ig-blockquote__caption">{{quote.caption}}</figcaption>
            </figure>
          {% endif %}
        

          {% if content.readMore %}
            {% set readMore = content.readMore %}
            <div class="ig-more">
              {% set image = readMore.image %}
              {% include "partials/ig-image.html" %}
              
              <h4 class="ig-more__title">{{readMore.title}}</h4>

              <ul class="ig-more__list">
              {% for item in readMore.listItems%}
                <li class="ig-more__list-item">
                  <a href="{{item.href}}">{{item.text}}</a>
                </li>
              {% endfor %}
              </ul> 
            </div>
          {% endif %}
        {% endfor %}					
				</div>
			</div>
			
			{% if colSecondary %}
			<div class="section-col__secondary" data-o-grid-colspan="12 M6">
				<div class="section-col__secondary-inner"{% if colSecondary.slides %} data-ig-component="ig-sticky ig-slide"{% endif %}{% if colSecondary.height %}{{height}}{% endif %}>
          
          {% if colSecondary.slides %}
          {% set slides = colSecondary.slides %}
          <div class="{% if colSecondary.slides %}ig-sticky-target ig-slide-target{% endif %}">

            <figure class="ig-slide">
              <img class="ig-slide__image" data-slide-set="{% for slide in slides %}{{slide.src}}{% if not loop.last %} {% endif %}{% endfor %}">

              <figcaption class="ig-slide__caption" data-slide-set="{% for caption in colSecondary.slideSets %}{{caption}}{% if not loop.last %} {% endif %}{% endfor %}"></figcaption>
            </figure>
          </div>
          {% endif %}
          
          {% if colSecondary.image %}
          {% set image = colSecondary.image %}
            {% include "partials/ig-image.html" %}
          {% endif %}
        </div>
			</div>
			{% endif %}
		</div>
	</div>
</div>