<section class="section" id="section-{{sectionId}}">
  
  {{# sectionBlocks}}
  <div class="section-block"
  id="section-{{sectionId}}__block-{{blockId}}"
  {{#sticky}}data-ig-component="ig-sticky"{{/sticky}}>
{{!-- when section-block has .ig-sticky, .section-media should be absolutely position to top, 100vh. text-over-media shoulde be auto height.
when .section-block has .viewport-height, .section-media should be absolutely positioned, 100% width and height, has an overlay.

 --}}    
    {{# background}}
    <div class="section-background
    {{#fixed}}
    section-background--fixed
    {{/fixed}}
    {{#sticky}}ig-sticky-target{{/sticky}}">
      {{> partials/ig-background}}
    </div>
    {{/ background}}
{{!-- If section-block has .viewport-height, it must mean text-over-media should be 100% width and height. .section-media should be asbolutely positioned. --}}
    {{# textOverMedia}}
    <div class="section-text-over-media viewport-height">
      
      {{# head}}
        {{> partials/ig-head}}
      {{/ head}}

      {{# leadin}}
      <div class="section-leadin{{#position}} section-leadin--positioned {{position}}{{/position}}">
        <p class="section-leadin__text">{{text}}</p>
      </div>
      {{/ leadin}}
      
      {{# credits}}
        {{> partials/ig-credits}}
      {{/ credits}}        
      
    </div>
    {{/ textOverMedia}}

    {{# sectionMedia}}
    <div class="section-media">
      {{> partials/ig-video}}
    </div>
    {{/ sectionMedia}}

    {{# cols}}
    <div class="section-cols">
      <div data-o-grid-container>
        <div data-o-grid-row>
          <div class="section-col__primary" data-o-grid-col>
            <div class="section-col__primary-inner">

            {{# colPrimary}}

              {{# text}}
              <p>{{{.}}}</p>
              {{/ text}}

              {{# image}}
                {{> partials/ig-image}}
              {{/ image}}
              
              {{# video}}
                {{> partials/ig-video}}
              {{/ video}}

              {{# quote}}
                {{> partials/ig-quote}}
              {{/ quote}}

              {{# readMore}}
                {{> partials/ig-more}}
              {{/ readMore}}
            {{/ colPrimary}} 
            </div>
          </div>
          
          {{# colSecondary}}
          <div class="section-col__secondary" data-o-grid-col>
            
            <div class="section-col__secondary-inner" data-ig-component="{{#sticky}}ig-sticky{{/sticky}}
            {{#slide}}ig-slide{{/slide}}"
            {{#height}}style="min-height:{{height}};"{{/height}}>

              <div class="section-col__scrollmation
              {{#sticky}}ig-sticky-target{{/sticky}}
              {{#slide}}ig-slide-target{{/slide}}" style="height:{{height}};">
              {{# slide}}
                {{> partials/ig-slide}}
              {{/ slide}}

              {{# image}}
                {{> partials/ig-image}}
              {{/ image}}

              </div>

            </div>
            
          </div>
          {{/ colSecondary}}
        </div>        
      </div><!-- container -->

    </div><!-- section-cols -->
    {{/ cols}}

  </div>
  {{/ sectionBlocks}}

  {{# ad}}
    {{> partials/ig-ad}}
  {{/ ad}}
</section>