<div class="text-over-media viewport-height">
  <div class="text-over-media__background background-fixed">
    {% include "partials/ig-background.html" %}
  </div>
  
  <div class="text-over-media__text">
	  
	  {% if head %}
	  {% include "partials/ig-head.html" %}
		{% endif %}

	  {% if byline %}
	  <div class="ig-byline">
	    <time class="ig-byline__timestamp o-date">{{byline.publishTime}}</time>
	    <p class="ig-byline__author">{{byline.author}}</p>
	  </div>
	  {% endif %}

		{% if leadin %}
	  <div class="ig-leadin{% if leadin.position %} ig-leadin--positioned {{leadin.position}}{% endif %}">
	    <p class="ig-leadin__text">{{leadin.text}}</p>
	  </div>
	  {% endif %}
	  
	  {% if credits %}
	    {% include "partials/ig-credits.html" %}
	  {% endif %}   	
  </div>
 
</div>