<div class="o-grid-container">
  <div class="o-grid-row">
    <div class="two-columns__primary" data-o-grid-colspan="12 M6">
      <div class="two-columns__primary-inner">
        {% set primaryColumn = section.primaryColumn %}
        {% for paragraph in primaryColumn %}

          {% if paragraph.type == "column-text" %}
            {{paragraph.content | md}}
          {% endif %}

          {% if paragraph.type == "column-image" %}
            {% set image = paragraph.content %}
            {% include "partials/ig-image.html" %}
          {% endif %}

          {% if paragraph.type == "column-video" %}
            {% set video = paragraph.content %}
            {% include "partials/ig-video.html" %}
          {% endif %}

          {% if paragraph.type == "column-quote" %}
            {% set quote = paragraph.content %}
            <figure class="ig-blockquote">
              <blockquote class="ig-blockquote__text">
                {{quote.text}} 
              </blockquote>
              <figcaption class="ig-blockquote__caption">{{quote.caption}}</figcaption>
            </figure>
          {% endif %}

          {% if paragraph.type == "column-read-more" %}
            {% set readMore = paragraph.content %}
            {% include "partials/read-more.html" %}
          {% endif %}

        {% endfor %}

        {% if section.credits %}

        {% endif %}
      </div>
    </div>

    {% if section.secondaryColumn %}
    <div class="two-columns__secondary">
    
    </div>
    {% endif %}
  </div>
</div>

{% if section.ad %}
  <div class="section-ad">
    <div class="section-ad__container o-grid-container">
      <p class="section-ad__title">广告之后 精彩继续</p>
      <div class="section-ad__content">
        <iframe src="{{section.ad}}"></iframe>
      </div>
    </div>
  </div>
{% endif %}