<div class="ad-placeholder">
<div class="ad-container" data-o-grid-container>
  <p class="ad-caption">广告之后 精彩继续</p>
  <div class="ad-content">
    <iframe id="ad-section-{{id}}" src="{{{src}}}"></iframe>
  </div>
</div>
</div>