<div class="cover-media__container">
<!--
You can use cc video as background, but it's not recommended. CC video has very wired styles. The result is unpredictable.
-->
	{{# ccVideo}}
	<script src="{{{src}}}" type="text/javascript"></script>
	{{/ ccVideo}}

	{{# video}}
<!-- 
Fix chrome bug. Chrome does not respect the height when set object-fit:cover on video element.
Add addintional wrapper and set overflow:hidden;
-->
	<div class="cover-media__inner" data-media-type="video">
	  <video class="cover-media" preload="metadata" loop="true" muted="true" autoplay="true"  poster="{{{poster}}}">
	    {{# source}}
	    <source src="{{{src}}}" type="{{{type}}}">
	    {{/ source}}
	  </video>          
	</div>
	{{/ video}}

	{{# picture}}
	<picture class="cover-media__inner" data-media-type="picture">
		{{# source}}
	  	<source {{#mediaQuery}}media="{{.}}"{{/mediaQuery}} srcset="{{#srcset}}{{{.}}}{{/srcset}}">
	  {{/ source}}

	  <img class="cover-media" src="{{{image}}}">
	</picture>
	{{/ picture}}
</div>