<figure class="section__figure{{#mobileOnly?}} section__figure--mobile{{/mobileOnly?}}">

  {{# imgWithLink?}}
  <a class="section__figure-container lazyload__outer" href="{{{href}}}">
    <img src="{{{src}}}" class="section__figure-image lazyload__inner">
  </a>                
  {{/ imgWithLink?}}

  {{# imgNoLink?}}
  <div class="section__figure-container lazyload__outer">
    <img src="{{{src}}}" class="section__figure-image lazyload__inner">
  </div>
  {{/ imgNoLink?}}
  
  {{# caption?}}
  <figcaption class="section__figure-caption">{{text}}</figcaption>
  {{/ caption?}}

</figure>