<figure class="section__figure{{#mobileOnly}} section__figure--mobile{{/mobileOnly}}" data-media-ratio="{{ratio}}">

  {{#hasLink}}<a{{/hasLink}}
  {{^hasLink}}<div{{/hasLink}}
  class="lazyload__outer"
  {{#hasLink}}href="{{{href}}}"{{/hasLink}}>
    <img src="{{{src}}}" class="section__figure-image lazyload__inner">
  {{#hasLink}}</a>{{/hasLink}}
  {{^hasLink}}</div>{{/hasLink}}         
  
  <figcaption class="section__figure-caption">{{caption}}</figcaption>
 
</figure>