<figure class="section__figure section__figure--image
{{#mobileOnly}}section__figure--mobile{{/mobileOnly}}" data-media-ratio="{{ratio}}">
	{{# figureTitle}}
	<h4 class="section__figure-title">{{figureTitle}}</h4>
	{{/ figureTitle}}
	
  {{# link}}<a{{/ link}}
  {{^ link}}<div{{/ link}}
  class="lazyload__outer"
  {{# link}}href="{{{link}}}"{{/ link}}>

    <img src="{{{imgSrc}}}" class="lazyload__inner"
    data-slides-set="{{#slides}}{{{.}}} {{/slides}}">

  {{# link}}</a>{{/ link}}
  {{^ link}}</div>{{/ link}}         
  
  {{# caption}}
  <figcaption class="section__figure-caption">{{caption}}</figcaption>
 	{{/ caption}}
  
</figure>