<div class="fullspan-media__container">
  <div class="lazyload__outer">
    <div class="lazyload__inner">
      {{# ccVideo}}
      <script src="{{{src}}}" type="text/javascript"></script>
      {{/ ccVideo}}

      {{# video}}
      <div class="fullspan-media__inner">
        <video class="fullspan-media" preload="metadata" controls poster="{{{poster}}}">
          {{# source}}
          <source src="{{{src}}}" type="{{{type}}}">
          {{/ source}}
        </video>    
      </div>
      {{/ video}}

      {{# picture}}
      <picture class="fullspan-media__inner">
        {{# source}}
        <source srcset="{{#srcset}}{{{.}}}{{/srcset}}">
        {{/ source}}
        <img class="fullspan-media" src="{{{src}}}">
      </picture>
      {{/ picture}}
    </div>
  </div>  
</div>
