<div class="ig-ad">
<div class="ig-ad__container" data-o-grid-container>
  <p class="ig-ad__title">广告之后 精彩继续</p>
  <div class="ig-ad__content">
    <iframe id="ig-ad__section-{{sectionId}}" src="{{{src}}}"></iframe>
  </div>
</div>
</div>