{{# picture}}
<picture class="ig-background ig-background--picture"{{#ft}} data-video-fallback{{/ft}}>
	{{# source}}
	<source
    {{#landscape}}media="(min-aspect-ratio: 1/1)"{{/landscape}}
    {{#portrait}}media="(max-aspect-ratio: 1/1)"{{/portrait}}
    srcset="{{#srcset}}{{{.}}}{{/srcset}}">
  {{/ source}}

  <img class="ig-background__media" src="{{{src}}}">
</picture>
{{/ picture}}

{{!-- 
Fix chrome bug. Chrome does not respect the height when set object-fit:cover on video element.
Add addintional wrapper and set `overflow:hidden;`
See: http://stackoverflow.com/questions/30700144/responsive-object-fit-cover-fix-on-chrome
 --}}
{{# ft}}
<div class="ig-background ig-background--video">
  <video class="ig-background__media" preload="metadata" poster="{{{poster}}}" muted autoplay loop>
    {{# source}}
    <source src="{{{src}}}" type="video/{{{type}}}">
    {{/ source}}
  </video>          
</div>
{{/ ft}}