<figure class="ig-figure ig-figure--image
{{#mobileOnly}}ig-figure--mobile{{/mobileOnly}}" data-media-ratio="{{ratio}}">
	{{# title}}
	<h4 class="ig-figure__title">{{title}}</h4>
	{{/ title}}
	
  {{# link}}<a{{/ link}}
  {{^ link}}<div{{/ link}}
  class="lazyload__outer"
  {{# link}}href="{{{link}}}"{{/ link}}>

    <img src="{{{src}}}" class="ig-figure__image lazyload__inner"
    {{#slide}}
    data-slide-set="{{#slideSets}}{{{src}}} {{/slideSets}}"{{/slide}}>

  {{# link}}</a>{{/ link}}
  {{^ link}}</div>{{/ link}}         
  
  <figcaption class="ig-figure__caption"
  {{#slide}}
  data-slide-set="{{#slideSets}}{{text}} {{/slideSets}}"
  {{/slide}}>
    {{caption}}
  </figcaption>
  
</figure>