<figure class="ig-figure
{{#mobileOnly}}ig-figure--mobile{{/mobileOnly}}" data-media-ratio="{{ratio}}" data-media-type="image">
	{{# title}}
	<h4 class="ig-figure__title">{{title}}</h4>
	{{/ title}}
	
  {{# link}}<a{{/ link}}
  {{^ link}}<div{{/ link}}
  class="lazyload__outer"
  {{# link}}href="{{{link}}}"{{/ link}}>

    <img src="{{{src}}}" class="ig-figure__image lazyload__inner"
    data-slides-set="{{#slides}}{{{.}}} {{/slides}}">

  {{# link}}</a>{{/ link}}
  {{^ link}}</div>{{/ link}}         
  
  {{# caption}}
  <figcaption class="ig-figure__caption">{{caption}}</figcaption>
 	{{/ caption}}
  
</figure>