
{{!-- 
You can use cc video as section-head's background, but it's not recommended. 
CC videos using swf have very wired styles. The result is unpredictable.
But you can embed it in the text. On large screen the video might be scaled out of  the screen estate when using in this way.
--}}
{{# cc}}
<div class="ig-media ig-media--video" data-media-src="cc" data-media-ratio="9/16">
  <div class="lazyload__outer">
    <div class="lazyload__inner">
      <script src="{{{src}}}" type="text/javascript"></script>
    </div>
  </div>
</div>
{{/ cc}}

{{!-- 
Fix chrome bug. Chrome does not respect the height when set object-fit:cover on video element.
Add addintional wrapper and set `overflow:hidden;`
See: http://stackoverflow.com/questions/30700144/responsive-object-fit-cover-fix-on-chrome
 --}}
{{# ft}}
<div class="ig-media ig-media--video">
  <video class="ig-media__content" preload="metadata" poster="{{{poster}}}" {{setting}}{{^setting}} controls{{/setting}}>
    {{# source}}
    <source src="{{{src}}}" type="video/{{{type}}}">
    {{/ source}}
  </video>          
</div>
{{/ ft}}

{{# picture}}
<picture class="ig-media ig-media--picture">
	{{# source}}
	<source
    {{#landscape}}media="(min-aspect-ratio: 1/1)"{{/landscape}}
    {{#portrait}}media="(max-aspect-ratio: 1/1)"{{/portrait}}
    srcset="{{#srcset}}{{{.}}}{{/srcset}}">
  {{/ source}}

  <img class="ig-media__content" src="{{{src}}}">
</picture>
{{/ picture}}