<div class="ig-more">
	{{# image}}
		{{> ig-image}}
	{{/ image}}
	
	<h3 class="ig-more__title">{{title}}</h3>
	<ul class="ig-more__items">
	{{# items}}
	  <li>
	  	{{#date}}<span>{{date}}</span>{{/date}}
	  	<a href="{{{href}}}">{{text}}</a></li>
	{{/ items}}
	</ul>	
</div>