<!DOCTYPE html>
<html lang="zh-Hans">
<head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/bower_components/ftc-icons/favicons/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    <title>{{title}}</title>

</head>

<body>
<h1>Interactive Graphics Generator</h1>
<div>
  <h2>Composer</h2>
</div>

<div>
  <h2>Live Preview</h2>
</div>



</body>


</html>