<header class="article__head{{#viewportHeight}} viewport-height text-over-media{{/viewportHeight}}">
  <div class="article__head-container" data-o-grid-container>

    <div class="article__head-wrapper">
        <p class="article__head-lead">{{lead}}</p>
        <h1 class="article__head-primary">{{headline}}</h1>
        <p class="article__head-secondary">{{subhead}}</p>
    </div>
    
    <div class="article__time-byline">

    <time class="article__timestamp o-date" data-o-component="o-date" datetime="" title="">{{publishTime}}</time>

    <p class="article__byline">{{byline}}</p>

    </div>

  </div><!-- data-o-grid-container -->
  
  <div class="fullspan-media__container">
    {{> partials/media}}
  </div>  
</header>