<section class="section" id="section-{{id}}">
  
  {{# sectionBlock}}
  <div class="section-block ig-scrollmation viewport-height">
    
    {{# sectionMedia}}
    <div class="section-media ig-scrollmation__sticky">
      {{> partials/ig-media}}
    </div>
    {{/ sectionMedia}}

    {{# }}
    <div class="section-text-over-media" data-o-grid-container>
      {{# head}}
        {{> ig-head}}
      {{/ head}}

      {{# text}}
      <p>{{{.}}}</p>
      {{/ text}}
      
      {{# credits}}
        {{> ig-credits}}
      {{/ credits}}
    </div>
    {{/ }}

    {{# cols}}
    <div class="section-cols" data-o-grid-container>
      <div data-o-grid-row>
        <div class="section-col__primary" data-o-grid-col>
        {{# colPrimary}}
          {{# text}}
          <p>{{{.}}}</p>
          {{/ text}}

          {{# image}}
            {{> partials/ig-image}}
          {{/ image}}
          
          {{# video}}
            {{> partials/ig-video}}
          {{/ video}}

          {{# quote}}
            {{> partials/ig-quote}}
          {{/ quote}}

          {{# readMore}}
            {{> partials/ig-more}}
          {{/ readMore}}
        {{/ colPrimary}}
        </div>
        
        {{# colSecondary}}
        <div class="section-col__secondary ig-scrollmation" data-o-grid-col>

          <div class="ig-scrollmation__sticky">
          {{# image}}
            {{> partials/ig-image}}
          {{image}}
          </div>

        </div>
        {{/ colSecondary}}
      </div>
    </div>
    {{/ cols}}

  </div>
  {{/ sectionBlock}}
</section>