<section class="section" id="section-{{id}}">

  <div class="section-block ig-scrollmation">
    <picture class="ig-media ig-scrollmation__sticky">
      
    </picture>
    <header class="ig-head ig-head--article">
      
    </header>
    <div class="text-over-media">
      
    </div>

    <div class="ig-cols">
      
    </div>
  </div>
</section>