{{# credits}}
<div class="article__credits">
  <div class="article__credits-container">
    <h3 class="article__credits-title">{{title}}</h3>
    <ul class="article__credits-items">
      {{# items}}
        <li>{{.}}</li>
      {{/ items}}
    </ul>
  </div>

  {{# creditsCover}}
	{{> partials/fullspan-media}}
  {{/ creditsCover}}
</div>
{{/ credits}} 