{{# credits}}
<section class="ig__credits">
  <div class="ig__credits-wrapper">
    <h3 class="ig__credits-title">{{title}}</h3>
    <ul class="ig__credits-items">
      {{# items}}
        <li>{{.}}</li>
      {{/ items}}
    </ul>
  </div>
  
  {{> background-media}}

</section>
{{/ credits}} 