<section class="ig__credits">
  <div class="ig__credits-wrapper">
    {{# credits}}
        <h3 class="ig__credits-title">{{title}}</h3>
        <ul class="ig__credits-items">
          {{# items}}
            <li>{{.}}</li>
          {{/ items}}
        </ul>
    {{/ credits}}    
  </div>
</section>