<header class="article__header" id="nav-section-0">
  <div class="article__header-container" data-o-grid-container>

    <div class="article__header-wrapper">
        <h1 class="article__header-primary">{{articleHead}}</h1>

        <p class="article__header-secondary">{{articleSubhead}}</p>
    </div>
    
    <div class="article__time-byline">

    {{# publishedDate}}
      <time class="article__timestamp o-date" data-o-component="o-date" datetime="" title="">{{date}}</time>
    {{/ publishedDate}}

    {{# byline}}
      <p class="article__byline">{{text}}</p>
    {{/ byline}}

    </div>

  </div><!-- data-o-grid-container -->
  
  {{# articleCover}}
      {{> partials/fullspan-media}}
  {{/ articleCover}}
</header>