<article class="article" role="main">
{{# articleHead}}
	{{> ig-head}}
{{/ articleHead}}

{{# sections}}
	{{> section}}
{{/ sections}}

{{# suggestedReads}}
	{{> suggested-reads}}
{{/ suggestedReads}}

{{# moreTopics}}
	{{> more-topics}}
{{/ moreTopics}} 
</article>