<article class="article" role="main">

{{# articleHead}}
	<div class="article-header viewport-height">
		{{# background}}
		<div class="article-header__background">
			{{> partials/ig-background}}
		</div>
		{{/ background}}
		<div class="article-header__text">
			{{> partials/ig-head}}
		</div>
	</div>
{{/ articleHead}}

{{# sections}}
	{{> body}}
{{/ sections}}

{{# articleFooter}}
	<div class="article-footer">
		<div data-o-grid-container>
			{{# sections}}
			<div class="article-footer__section" id="article-footer__section-{{id}}">
		    {{#sectionTitle}}
		    <h2 class="article-footer__section-title">{{sectionTitle}}</h2>
		    {{/sectionTitle}}

		    <div class="article-footer__row" data-o-grid-row>
		      {{#sectionCols}}
		      <div class="article-footer__col" data-o-grid-col>
		      	{{> suggested-reads}}
		      </div>
		      {{/sectionCols}}
		    </div>  
			</div>
			{{/ sections}}
		</div>
	</div><!-- .article-footer -->
{{/ articleFooter}}


</article>