<article class="article" role="main">

{{# articleHead}}
	<div class="article-header viewport-height">
		{{# background}}
		<div class="article-header__background">
			{{> partials/ig-media}}
		</div>
		{{/ background}}
		<div class="article-header__text">
			{{> partials/ig-head}}
		</div>
	</div>
{{/ articleHead}}

{{# sections}}
	{{> body}}
{{/ sections}}

{{# suggestedReads}}
	{{> suggested-reads}}
{{/ suggestedReads}}

{{# moreTopics}}
	{{> more-topics}}
{{/ moreTopics}} 
</article>