<div class="more-topics">
  <div class="more-topics__container" data-o-grid-container>
    <div class="more-topics__row" data-o-grid-row>
      {{# topics}}
      <div class="more-topics__col" data-o-grid-col>
        {{> partials/ig-more}}
      </div>
      {{/ topics}}     
    </div>
  </div>
</div>