{{# moreOn}}
<div class="more-on">
  <div class="more-on__container" data-o-grid-container>
    <div class="more-on__row" data-o-grid-row>
      {{# sections}}
      <div class="more-on__col" data-o-grid-col>
        <h3 class="more-on__title">{{title}}</h3>
        <ul class="more-on__items">
          {{# items}}
            <li><a href="{{{href}}}">{{name}}</a></li>
          {{/ items}}
        </ul>        
      </div>
      {{/ sections}}     
    </div>
  </div>
</div>
{{/ moreOn}} 