{{# sections}}
  <section class="section__container" id="section-{{id}}">
    {{# articleHead}}
      {{> article-head}}
    {{/ articleHead}}

    {{# sectionHead}}
      {{> section-head}}
    {{/ sectionHead}}

    {{# sectionBody}}
    <div class="section__body{{#textOverMedia}} text-over-media{{/textOverMedia}}"
    {{#fullspanMedia.sticky}}data-o-component="o-sticky"{{/fullspanMedia.sticky}}>

      {{# fullspanMedia}}
      <div class="fullspan-media__container
      {{#sticky}}o-sticky-target{{/sticky}}"
      {{#cc}}data-source="cc"{{/cc}}>
        {{> partials/media}}
      </div>
      {{/ fullspanMedia}}

      <div class="section__body-container" data-o-grid-container>
        <div data-o-grid-row>
          <div class="section__col-primary" data-o-grid-col>
          {{# colPrimary}}
          
            {{# text}}
            <p>{{{.}}}</p>
            {{/ text}}

            {{# figure}}
              {{> partials/figure}}
            {{/ figure}}

            {{# video}}
              {{> partials/video}}
            {{/ video}}

            {{# blockQuote}}
              {{> partials/blockquote}}
            {{/ blockQuote}}

            {{# readMore}}
            <div class="section__more-on">
              {{> partials/figure}}              
              {{> partials/more-on}}    
            </div>
            {{/ readMore}}

          {{/ colPrimary}}
          </div><!-- col-primary -->

          {{# colSecondary}}
          <aside class="section__col-secondary"
          data-o-grid-col data-o-component="{{#sticky}}o-sticky{{/sticky}}">
            
            <div class="{{#sticky}}o-sticky-target{{/sticky}}"
            {{#slides}}data-slides-target="img"{{/slides}}>
            {{# figure}}
              {{> partials/figure}}
            {{/ figure}}  
            </div>

          </aside>
          {{/ colSecondary}}   

        </div><!-- data-o-grid-row -->        
      </div><!-- data-o-grid-container-->        

    </div>
    {{/ sectionBody}}
  {{# adBanner}} 
    {{> partials/ad}}
  {{/ adBanner}}
  </section>
  


{{/ sections}}