<div class="suggested-reads">
  <div class="suggested-reads__container" data-o-grid-container>
    <ul class="suggested-reads__items" data-o-grid-row>

      {{# items}}
      <li class="suggested-reads__item" data-o-grid-col>
        <a class="suggested-reads__link lazyload__outer" href="{{{href}}}"><img class="lazyload__inner" src="{{{imgSrc}}}"></a>

        <h3 class="suggested-reads__title"><a href="{{{href}}}">{{title}}</a></h3>
        <p>{{{text}}}</p>
      </li>
      {{/ items}}

    </ul>
  </div>
</div>

