$o-footer-spacing-unit: 20px;

@include oColorsSetUseCase(o-footer, background, 'grey-tint5');
@include oColorsSetUseCase(o-footer, text, 'white');
@include oColorsSetUseCase(o-footer-brand, background, 'grey-tint4');
@include oColorsSetUseCase(o-footer-divider, border, 'grey-tint3');
@include oColorsSetUseCase(o-footer-item, text, 'white');
@include oColorsSetUseCase(o-footer-copyright, text, 'grey-tint2');


@include oColorsSetUseCase(o-footer--light, background, 'pink-tint1');
@include oColorsSetUseCase(o-footer--light, text, 'grey-tint5');
@include oColorsSetUseCase(o-footer-brand--light, background, 'pink-tint4');
@include oColorsSetUseCase(o-footer-divider--light, border, 'pink-tint3');
@include oColorsSetUseCase(o-footer-item--light, text, 'grey-tint5');
@include oColorsSetUseCase(o-footer-copyright--light, text, 'grey-tint3');

.o-footer {
	@include oColorsFor(o-footer, text background);
	font-size: 16px;
	margin-top: (2 * $o-footer-spacing-unit);
	padding: 0;
	border-top: 5px solid oColorsGetColorFor(product-brand, background);
	line-height: $o-footer-spacing-unit;
	ul {
		list-style-type: none;
		padding: 0;
		margin-top: 0;
		margin-bottom: 0;
	}
}

.o-footer--light {
	@include oColorsFor(o-footer--light, text background);
	border-top-color: oColorsGetColorFor(o-footer-divider--light, border);
}

.o-footer__title {
	overflow: hidden;
	width: 100%;
	margin-top: 0;
	margin-bottom: $o-footer-spacing-unit - 5;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-weight: bold;
	font-size: 1em;
	color: oColorsGetColorFor(o-footer-item, text);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	.o-footer--light & {
		color: oColorsGetColorFor(o-footer-item--light, text);
	}
}

.o-footer__link {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;

	> a {
		display: block;
		text-decoration: none;
		padding: 5px 0;
		color: oColorsGetColorFor(o-footer-item, text);

		.o-footer--light & {
			color: oColorsGetColorFor(o-footer-item--light, text);
		}

		&:hover,
		&:focus {
			color: oColorsGetColorFor(link-title-hover, text);
		}
	}
}

.o-footer__nav {
	$_o-footer-compensate-line-height: 3px;
	margin-top: $o-footer-spacing-unit;
	margin-bottom: $o-footer-spacing-unit;
	padding-bottom: $o-footer-spacing-unit - $_o-footer-compensate-line-height;

	border-bottom: 1px dotted oColorsGetColorFor(o-footer-divider, border);

	.o-footer--light & {
		border-bottom-color: oColorsGetColorFor(o-footer-divider--light, border);
	}
}

.o-footer__link-list {
	margin-bottom: $o-footer-spacing-unit;
	> ul {
		margin: 0;
		padding: 0
	}
}

.o-footer__col {
	@include igGridColWidth(12);
	@include oGridRespondTo(S) {
		@include igGridColWidth(6);
	}
	@include oGridRespondTo(M) {
		@include igGridColWidth(4);
	}
	@include oGridRespondTo(L) {
		@include igGridColWidth(3);
	}
	@include oGridRespondTo(XL) {
		@include igGridColWidth(2);
	}
}

.o-footer__copyright {
	margin-top: $o-footer-spacing-unit;
	margin-bottom: 0;
	padding-bottom: $o-footer-spacing-unit;
	line-height: 1.3;
	@include oColorsFor(o-footer-copyright, text);
	span {
		display: inline-block;
	}

	.o-footer--light & {
		@include oColorsFor(o-footer-copyright--light, text);
	}
}
