<footer class="o-footer{{#lightTheme}} o-footer--light{{/lightTheme}}" data-o-component="o-footer">
  <div class="o-footer__container" data-o-grid-container>

    <nav class="o-footer__nav">
      <h3 class="o-footer__title">频道</h3>
       <ul class="o-footer__row o-footer__section-list" data-o-grid-row>
        {{# sections}}
          <li class="o-footer__col o-footer__link" data-o-grid-col><a href="{{{href}}}">{{text}}</a></li>
        {{/ sections}}
        </ul>
    </nav>

    <div class="o-footer__row o-footer__link-lists" data-o-grid-row>
      {{# link_sections}}
      <nav class="o-footer__col o-footer__link-list" data-o-grid-col>
        {{# title}}<h3 class="o-footer__title">{{title}}</h3>{{/ title}}
        <ul>
          {{# items}}
          <li class="o-footer__link">
            <a href="{{{href}}}">{{text}}</a>
          </li>
          {{/ items}}
        </ul>
      </nav>
      {{/ link_sections}}
    </div>

    <div class="o-footer__row o-footer__copyright">
        <span>&#xA9; FT中文网 {{copyrightYear}}.</span>
        <span><abbr title="Financial Times">FT</abbr> and &#x2018;Financial Times&#x2019; are trademarks of The Financial Times Ltd.</span>
    </div> 
  </div>      
</footer>