<header class="o-header{{#theme}} o-header--light{{/theme}}" data-o-component="o-header">
  <!--div class="o-header__top">
    <div class="o-header__container" >
      <div class="o-header__inner">
        
        <div class="o-header__masthead">
          <a href="http://www.ftchinese.com" title="前往FT中文网首页"><span>FT中文网</span></a>
        </div>
      {{# article.englishEdition?}}
        <div class="o-header__edition-switch">
          <a class="o-header__edition" href="{{{href}}}">英文版</a>
        </div>
      {{/ article.englishEdition?}}  
      </div>
    </div>
  </div-->

  <div class="o-header__bottom">
    <div class="o-header__container">
      <div class="o-header__left">

        <a class="o-header__logo" href="http://www.ftchinese.com" title="前往FT中文网首页"><span>FT中文网</span><img src="/bower_components/ftc-icons/assets/svg/brand-ftc.svg"></a>

        <span class="o-header__series-title">调查报道</span>

      </div>

      <div class="o-header__center">
        <span class="o-header__headline">{{article.articleHeadline}}</span>

        {{# article.englishEdition?}}
          <a class="o-header__edition" href="{{{href}}}">英文版</a>
        {{/ article.englishEdition?}}
      </div>

      <nav class="o-header__right">
        <input id="menu-toggler" type="checkbox"></input>

        <label class="o-header__nav-toggle" for="menu-toggler"><span>目录</span></label>
        
        <ol class="o-header__nav">
          <li class="o-header__nav-item">
            <a class="o-header__nav-link" href="#nav-section-0">序</a>
          </li>

          {{# article.sections}}
          <li class="o-header__nav-item">
            <a class="o-header__nav-link" href="#nav-section-{{sectionId}}">{{sectionTitle}}</a>
          </li>
          {{/ article.sections}}
          {{# article.englishEdition?}}
          <li class="o-header__nav-item mobile">
            <a class="o-header__edition" href="{{{href}}}">阅读英文版</a>
          {{/ article.englishEdition?}}
          </li>
        </ol>           
      </nav>         
    </div><!-- o-header__container -->    
  </div><!-- o-header__bottom -->

</header>