.ad-wrapper {
	color: #212121;
	background-color: #E9DECF;
	.ad-section {
		max-width: 970px;
		margin: 0px auto;
		padding: 10px;	
	}
	.caption {
	    margin: 0px 0px 6px;
	    font-size: 11px;
	    color: #616161;
		text-align: center;
	}
}