.ad-placeholder {
	@include oColorsFor(box, background);
	
	.ad-caption {
	    margin: 0px 0px 6px;
	    font-size: 11px;
	    @include oColorsFor(ig-ad, text);
		text-align: center;
	}

	.ad-content {
		width: 100%;
	}
}