body {
  font-family: "Hiragino Sans GB", "微软雅黑", "Microsoft JhengHei", SimSun, sans-serif;
  @include oColorsFor(page);
}

.article__header,
.section__header,
.ig__credits {
  padding-top: $o-header-height;
  box-sizing: border-box;
  position: relative;
  height: 100vh;
  border: 1px solid red;
}

[data-o-grid-row] {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  min-width: $o-grid-min-width;
  max-width: $_o-grid-max-width;
  border: 1px solid blue;
  padding-left: 10px;
  padding-right: 10px;

  @include oGridRespondTo(M) {
    padding-left: 20px;
    padding-right: 20px;
  }
}



.credits.text-over-media {
  padding: 1em;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
.content-column  {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 17px;
  p {
    margin: .75em auto;
    line-height: 2em;
  }
  aside {
    text-align: center;
  }
}

.related-reading {
  h4 {
    margin: 1em 0 0 0;
  }
}



/* story footer */
// .story-footer {
//     @include background-setting(fixed);
//     p {
//         max-width: 600px;
//         text-align: center;
//         margin: 0 auto;
//         padding-top: 5em;
//     }
// }