body {
  font-family: "Hiragino Sans GB", "微软雅黑", "Microsoft JhengHei", SimSun, sans-serif;
  @include oColorsFor(page);
}

[data-o-grid-container] {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  min-width: $o-grid-min-width;
  max-width: $_o-grid-max-width;
  padding-left: 10px;
  padding-right: 10px;

  @include oGridRespondTo(M) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

[data-o-grid-row] {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

figure {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #0f8a99;
  text-decoration: none;
}

p {
  font-size: 18px;
  line-height: 1.7;
}
img {
  width: 100%;
}