
$ig-primary-col-width: 6;

@mixin igGridColWidth($span) {
	@if type-of($span) == number {
		display: block;

		// Fix Safari bug
		flex-basis: oGridColspan($span);
		// Define width in %
		min-width: oGridColspan($span);
		max-width: oGridColspan($span);

		// For IE8
		width: oGridColspan($span);
	}
}

@mixin igBackgroundOverlay {
	&:before {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.2);
	}
}

@mixin quote-dash($where, $margin) {
	content: "";
	display: block;
	width: 40%;
	height: 1px;
	background-color: #000;
	margin: 0 auto;
	margin-#{$where}: $margin;
}