
$ig-primary-col-width: 6;

/* $ratio: percentage(height / width) */
@mixin igSetMediaRatio($ratio) {
	@if unit($ratio) != "%" {
		$ratio: percentage($ratio);
	}
	padding-top: $ratio;
}
@mixin aspectRatio($ratio: 71.42%) {
	@if unit($ratio) != "%" {
		$ratio: percentage($ratio);
	}
	position: relative;
	display: block;
	height: 0;
	padding: 0;
	overflow: hidden;
	padding-top: $ratio;
}
@mixin changeAspectRatio($ratio) {
	@if unit($ratio) != "%" {
		$ratio: percentage($ratio);
	}
	padding-top: $ratio;
}

@mixin igBackgroundOverlay {
	&:after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.2);
	}
}

@mixin igBackgroundMask {
	background-color: rgba(0, 0, 0, 0.2);
}

@mixin igQuoteDivider {
	content: '';
	display: block;
	width: 50%;
	height: 1px;
	background-color: #000;
	margin: 0 auto;
}