.story-cover {
		background-image: url("../images/hla_own_min_2560-lr_mnsuz50.jpg");
	}

.section-1 {
	.section-cover {
		background-image: url("../images/2560_flowers_blinkie-mr.jpg");
	}
}
.section-2 
	.section-cover {
		background-image: url("../images/2560_flowers_blinkie-mr.jpg");
	}

.section-3 
	.section-cover {
		background-image: url("../images/2560_flowers_blinkie-mr.jpg");}


.story-footer {
	background-image: url("../images/2560_flowers_blinkie-mr.jpg");
}
.credits {
		background-image: url("../images/2560_flowers_blinkie-mr.jpg");
	}