.article-footer {

	&__section {
		padding-top: 2em;
	}
	
	&__section-title {
		margin: 0;
		@include oGridRespondTo(M) {
		    font-size: 36px;
		}
	}

	&__col {
		@include oGridColspan((default: 12, M: 6, L: 4));		
	}
}