.article__head-wrapper {
	box-sizing: border-box;
    width: 100%;
    padding: 5%;
    text-align: center;
  p {
    margin: 0;
    padding: 0;
  }
}

.article__head-primary {
	margin: 0;
	font-size: 50px;

	@include oGridRespondTo(M) {
		font-size: 100px;
	}
}

.article__head-secondary {
	font-size: 32px;

	@include oGridRespondTo(M) {
		font-size: 48px;
	}
}

.article__head-lead {
	@include oGridRespondTo(M) {
		font-size: 28px;
	}
}

.article__time-byline {
	border-sizing: border-box;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 1em;
	text-align: center;
}

.article__timestamp, .article__byline {
	margin: 0;
	padding: 0;
	font-size: 16px;	
}