.section__container {
  a {
    border-bottom: 1px solid transparent
  }
  a:hover {
    border-bottom: 1px solid;
  }
}

.article__header,
.section__header,
.article__credits {
  box-sizing: border-box;
  padding-top: $o-header-height; 
  position: relative;
  height: 100vh;

  @include oColorsFor(ig-text-over-media, text);
  text-align: center;
}

.article__header-container,
.section__header-container {
  position: relative;
  height: 100%;
}

// Fix chrome bug. Chrome does not respect the height when set object-fit:cover on video element.
.fullspan__media-container {
  box-sizing: border-box;
  overflow: hidden;
  
  .article__header &,
  .section__header &,
  .article__credits & {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    @include oColorsFor(ig-text-over-media, background);
    @include igBackgroundOverlay;   
  }
  .section__block & {
    position: relative;
    width: 100%;
    height: 100vh;    
  }
}
.fullspan__media-inner {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.fullspan__media {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@include lazyloadMedia;

.more-on__title {
  margin: 10px 0;
}
.more-on__items {
  a {
    line-height: 1.7;
    &:hover {
      border-bottom: 1px solid;
    }
  }
}