.viewport-height {
  height: 100vh;
}

// Ratio: the media's height/width.
// It could be in the form `140%` or `7/5`.
@include lazyloadMedia;

[data-media-ratio="1/2"] {
  .lazyload__outer {
    @include igSetMediaRatio(1/2);
  }
}
[data-media-ratio="9/16"] {
  .lazyload__outer {
    @include igSetMediaRatio(9/16);
  }
}
[data-media-ratio="16/15"] {
  .lazyload__outer {
    @include igSetMediaRatio(16/15);
  }  
}
[data-media-ratio="7/5"] {
  width: 90%;
  .lazyload__outer {
    @include igSetMediaRatio(7/5);
  } 
}