.section__container {
  a {
    border-bottom: 1px solid transparent
  }
  a:hover {
    border-bottom: 1px solid;
  }
}

.article__head,
.section__head {
  box-sizing: border-box;
  padding-top: $o-header-height; 
  position: relative;
  height: 100vh;

  @include oColorsFor(ig-text-over-media, text);
  text-align: center;
}

.article__head-container,
.section__head-container {
  position: relative;
  height: 100%;
}

@include lazyloadMedia;

.section__body {
  position: relative;
}

.more-on__title {
  margin: 10px 0;
}
.more-on__items {
  a {
    line-height: 1.7;
    &:hover {
      border-bottom: 1px solid;
    }
  }
}