.o-grid-container {
  @include oGridContainer;
}

.o-grid-row {
  @include oGridRow;
}

.column-grid {
  box-sizing: border-box;
  position: relative;

  .o-grid-row {
    justify-content: center;
  }
}