.article__credits {
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
  @include oColorsFor(ig-text-over-media, text);
}

.article__credits-container {
	position: relative;
	padding: 5%;
}
.article__credits-title {
	margin: 0;
	padding: 1em 0;
	font-size: 30px;
}
.article__credits-items {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 20px;
	line-height: 2;
}