.ig-media {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;

  &[data-media-type="video"] {
    background-color: #000;
  }

  &[data-media-type="picture"] {
    @include oColorsFor(ig-media, background);
  }
}

.ig-media__content {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; 
}