@include oGridRespondTo(M) {
  [data-ig-component~="ig-sticky"] {
    position: relative;

    .ig-sticky-target {
      &[aria-sticky="top"] {
        position: absolute;
      }
      &[aria-sticky="fixed"] {
        position: fixed;
        top: 0;
        bottom: auto;
      }
      &[aria-sticky="bottom"] {
        position: absolute;
        top: auto;
        bottom: 0;
      }
    }
  }
}

