.ig-head {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}

.ig-head__inner {
  box-sizing: border-box;
  width: 100%;
  padding: 5%;
}

.ig-head__lead {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  @include oGridRespondTo(M) {
    font-size: 28px;
  }
}
// this is used as article title
.ig-head__title {
  box-sizing: border-box;
  font-size: 50px;
  margin: 0;
  padding: 0;
  @include oGridRespondTo(M) {
    font-size: 100px;
    // min-width: 80%;
    // width: 80%;
    margin: 0 auto;
  }
}
// this is used as section title
.ig-head__heading {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  line-height: 1.1;
  @include oGridRespondTo(M) {
    font-size: 48px;
  }
  .viewport-height & {
    margin: 1em 0;
    padding: 5% 0 12px 0;
  }
}

.ig-head__subtitle {
  font-size: 24px;
  @include oGridRespondTo(M) {
    font-size: 32px;
  }
}

.ig-head__secondary {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10%;
}

.ig-head__intro {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 1em 0 0 0;
  font-size: 20px;

  @include oGridRespondTo(M) {
    font-size: 24px;
    min-width: 80%;
    width: 80%;
  }

  .viewport-height & {
    padding: 5%;
  }
}

.ig-byline {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 3%;
  padding-bottom: 50px;
  text-align: center;
  font-size: 15px;
  line-height: 1.4;

  &__authors {
    margin-bottom: 5px;
  }
  &__timestamp,
  &__publisher {
    margin: 0;
    padding: 0;
  }

  &:before {
    content: '向下滑动阅读';
    font-size: 14px;
    display: block;
    color: white;
    width: 100%;
    position: absolute;
    bottom: 25px;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    height: 20px;
    width: 72px;
    left: 50%;
    margin-left: -36px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEcAAAASCAMAAAA+LTNpAAAAwFBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8Do+ZMAAAAP3RSTlMA1Ur053H7kf0CBx4S8YYEguKVRNHCD0aArpo3bLunIm68XlrQOKyZwV82JFmpMRAGMIcB4zNUkhiM1iV0SPms/+YeAAAA/klEQVR4XqXQ15KCQBCF4SMgGXVBAXPOOeft93+r1ZqLKWvGVfS77epz8SO6hvhWeI1gkFm4nPG586VgkgGD7k6rroXkrO7qRDdsh9FKio0kbKWksVe2w6nFoYv3uMOiSjfiDmMO0mO8Mk4PTHpg4EiCVKb8PJZVzqRIcEQ22P+QQOtLY9lKXyPBzz7I4m4Zd0ig9lqPsdxWTyVBJ16Cg1Op6vzIY9XB1HkSTq9WHAjCSc2TxRpZI1kSrzYJ8UQ28CWxfiVJfJbkHzMhlphkhrc4jaZOcnqz4SCBeXsqxvKm7TkSW0T+hriNHy3wofU2l6e7fG67xncOu3h3wCt/QZNvI/thGKQAAAAASUVORK5CYII=") no-repeat center;
  }
}