.ig-credits {
	position: relative;
	box-sizing: border-box;
	color: #fff;
	padding-top: $o-header-height;

	&__title {
		margin: 0 0 10px 0;
		padding: 0;
		font-size: 20px;

		@include oGridRespondTo(M) {
			margin: 0 0 1em 0;
		}
	}

	&__group-title {
		font-size: 150%;
    line-height: 1.4;
		margin: 30px 0;
	}

	&__items {
		margin: 0;
		padding: 0;
		list-style-type: none;
		font-size: 16px;
		line-height: 1.75;

		@include oGridRespondTo(M) {
			font-size: 20px;
			line-height: 1.75;
		}
	}
}