.ig-credits {
	position: relative;
	box-sizing: border-box;
	padding-top: $o-header-height;
	padding-left: oGridGutter();
	padding-right: oGridGutter();

	@include oGridRespondTo(M) {
		padding-left: 5%;
		padding-right: 5%;
	}
}
.ig-credits__title {
	margin: 0 0 10px 0;
	padding: 0;
	font-size: 20px;

	@include oGridRespondTo(M) {
		margin: 0 0 1em 0;
		font-size: 30px;
	}
}
.ig-credits__items {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 16px;
	line-height: 1.75;

	@include oGridRespondTo(M) {
		font-size: 20px;
		line-height: 1.75;
	}
}