.ig-figure {
  text-align: center;
  margin: 0 auto;
  padding: 15px 0;

  .section-body__secondary & {
  	padding: $o-header-height + 15px 0;
  }

	&--mobile {
		display: block;
	}

	@include oGridRespondTo(M) {
		&--mobile {
			display: none;
		}
	}

	&--video {
		.lazyload__outer {
			background-color: #000;
		}
	}

	&__title {
		margin: 1em 0 0.5em 0;
	}

	&__caption {
	   @include oColorsFor(ig-caption, text);
	   margin-top: 10px;
	   font-size: 16px;
	   line-height: 1.3;
	}

	.ig-scrollmation &__caption {
		color: #ccc;
	}
	a, a:hover {
		border-bottom: 0;
	}

	img {
		object-fit: cover;	
	}

	video {
		box-sizing: border-box;
		object-fit: contain;
	}
}


