.ig-more {
	padding: 0;
	margin-bottom: 1em;
	border-top: 1px solid;
	border-bottom: 1px solid;

	&__title {
	  margin: 0;
	}
	&__list {
		padding: 0.5em 0;
		span {
			padding-right: 0.5em
		}
	  a {
	    line-height: 1.7;
	    &:hover {
	      border-bottom: 1px solid;
	    }
	  }
	}
}