.ig-background {
  box-sizing: border-box;
// Position to keep stacking order.  
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  @include oColorsFor(ig-media, background);

  &__media {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
}

.ig-background--picture.video-fallback {
// When video and picture are both present, picture is fallback to video.
// Picture should hide behind the video and not take any space.
  position: absolute;
  top: 0;
  left: 0;
  & + .ig-background--video {
    display: none;
    @include oGridRespondTo(M) {
      display: block;
    }
  }  
}


