.ig-background {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  @include oColorsFor(ig-media, background);

  &__media {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
}

.ig-background--picture[data-video-fallback] + .ig-background--video {
  display: none;
  @include oGridRespondTo(M) {
    display: block;
  }
}
