.read-more {
	margin-bottom: 1em;
	border-top: 1px solid;
	border-bottom: 1px solid;
	
	p {
		margin-top: 0;
	}

	&__title {
	  margin: 0;
	}
	
	&__summary {
		padding-bottom: 10px;
	}
	&__items {
		padding: 0.5em 0;
		a {
			line-height: 1.7;
			&:hover {
	      border-bottom: 1px solid;
	    }
		}
	}
}