.scroll-over-media {
  position: relative;
  color: #fff;

  .column-grid__main-inner {
    background: transparent;
    padding-top: 450px;
    padding-bottom: 250px;
    // z-index: 3;
  }

  .ig-scrollmation {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    overflow: hidden;

    &:after {
      content: '';
      display: block;
      width: 65%;
      max-width: 1500px;
      background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.65) 25%, rgba(0, 0, 0, 0.65) 100%);
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
    } 

    &__slides {
      position: absolute;
      width: 100%;
      height: 100vh;
      overflow: hidden;
    }   
  }
}

.ig-scrollmation {

  // img {
  //   box-sizing: border-box;
  //   display: block;
  //   width: 100%;
  //   height: 100%;
  //   object-fit: cover; 
  // }
}