.section__body-container {
	[data-o-grid-row] {
		justify-content: center;
	}
}
.section__col-primary {
  @include oGridRespondTo(M) {
    @include igGridColWidth($ig-primary-col-width);
  }
}

.section__col-secondary {
  display: none;
  position: relative;

  @include oGridRespondTo(M) {
    @include igGridColWidth((12 - $ig-primary-col-width));
  }
  .o-sticky-target {
    padding: $o-header-height 0;
    &[aria-sticky="top"] {
      position: absolute;
      top: 0;
    }
    &[aria-sticky="fixed"] {
      position: fixed;
      top: 0;
    }
    &[aria-sticky="bottom"] {
      position: absolute;
      bottom: 0;

    }
  }
}
