.section-cols {
	[data-o-grid-row] {
		justify-content: center;
	}
}
.section-col__primary {
  @include oGridRespondTo(M) {
    @include igGridColWidth($ig-primary-col-width);
  }
}

.section-col__secondary {
  display: none;
  position: relative;

  @include oGridRespondTo(M) {
    @include igGridColWidth((12 - $ig-primary-col-width));
  }
}

.section-col__secondary-inner {
  width: 100%;
  height: 100%;
}