.section__figure {
  text-align: center;
  margin: 15px auto;
  a, a:hover {
  	border-bottom: 0;
  }

	&-image {
		object-fit: cover;	
	}

	&-caption{
	   @include oColorsFor(ig-caption, text);
	   margin-top: 10px;
	   font-size: 16px;
	   line-height: 1.3;
	}

  .lazyload__outer {
  	@include igSetMediaRatio(71.42%);
  }
// Ratio: the image's height/width.
// It could be in the form `140%` or `7/5`.
	&[data-media-ratio="7/5"] {
		width: 80%;

		.lazyload__outer {
			@include igSetMediaRatio(7/5);
		}
	}
}


