.section__head-primary {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
	// border-bottom: 1px solid white;

	font-weight: normal;
	line-height: 1.1;
	display: inline-block;

	@include oGridRespondTo(M) {
		font-size: 3em;
	}

	.viewport-height & {
		margin: 1em auto;
		padding: 5% 0 12px 0;
	}
}

.section__head-secondary {
	box-sizing: border-box;
	font-size: 20px;
	margin: 0;
	padding: 1em 0 0 0;

	@include oGridRespondTo(M) {
		font-size: 26px;
		min-width: 80%;
		width: 80%;
		margin: 0 auto;
	}

	.viewport-height & {
		position: absolute;
		bottom: 10%;
		left: 0;
		right: 0;
		padding: 5%;	
	}
}