.section-block {
  box-sizing: border-box;
  position: relative;
}

.section-background {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  z-index: -1;

  @include oGridRespondTo($until: M) {
    [data-ig-component="ig-sticky"] & {
      position: relative;
      height: 66vh;
    }

    [data-ig-component="ig-sticky"] &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -1px;
      height: 30%;
      background-image: linear-gradient(to bottom, transparent, #000);      
    }
  }

  @include oGridRespondTo(M) {
    [data-ig-component="ig-sticky"] & {
      position: absolute;
      height: 100vh;         
    }

    &--fixed {
      clip: rect(0, auto, auto, 0);

      .ig-background {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }
}

.section-text-over-media {
  position: relative;
  height: 100vh;
  @include oColorsFor(ig-text-over-media, text);
// add a translucency background
  @include igBackgroundMask;

// same as .secion-cols setting.
// mainly for credits page.
  [data-ig-component="ig-sticky"] & {
    background-color: #000;
    padding-bottom: 40px;
    @include oColorsFor(ig-text-over-media, text);


    @include oGridRespondTo(M) {
      padding-top: 450px;
      padding-bottom: 250px;
      @include igBackgroundMask;
    }
  }
}

.section-leadin {
  min-width: 290px;
  width: 40%;
  max-width: 620px; 
  padding: 5%;
  margin: 0 auto;
  text-align: center;

  &__text {
    margin: 0;
    padding: 0;
    @include oGridRespondTo(M) {
      font-size: 30px;
    }
  }

  &--positioned {
    position: absolute;
  }
  &.left {
    left: 0;
    text-align: left
  }
  &.bottom {
    bottom: 10%;
  }
  &.right {
    right: 0;
    text-align: right;
  }
  &.center {
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.section-media {
  @include oColorsFor(ig-video, background);
}
.section-cols {
  position: relative;

  [data-ig-component="ig-sticky"] & {
    background-color: #000;
    padding-bottom: 40px;

// It should be high enough to be able to scrolled.
    @include oGridRespondTo(M) {
      padding-top: 450px;
      padding-bottom: 250px;

      @include igBackgroundMask;
// a semi-transparent color masking the image behind it.     
      background: linear-gradient(to right, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 50%, transparent);      
    }

    p {
      @include oColorsFor(ig-text-over-media, text);
    }
  }
}
