.section__blockquote {
  padding: 1px 0px;
  margin: 50px 0px;
  text-align: center;
  
  .section__blockquote-text {
    @include oColorsFor(ig-blockquote, text);
    font-weight: 400;
    font-style: normal;
    font-size: 1.8em;
  }

  .section__blockquote-caption {
    @include oColorsFor(ig-caption, text);
  }
  
  &:before {
    @include igQuoteDivider(bottom, 30);
  }
  &:after {
    @include igQuoteDivider(top, 30px);
  }
}