.section__figure {
  text-align: center;
  margin: 10% 0;
  a, a:hover {
  	border-bottom: 0;
  }
}
.section__figure-container {
    @include igSetMediaRatio(71.42%);
}
.section__figure-container[data-media-ratio="7/5"] {
	@include igSetMediaRatio(7/5);
}
.section__figure-image {
	object-fit: cover;	
}
.section__figure-caption{
   @include oColorsFor(ig-caption, text);
}