// The media container should have a background if media is not loaded.
.section-media {
  box-sizing: border-box;
  @include oColorsFor(ig-media, background);
}
// If scrollmation enabled, then text should use reverse color.
.section-body--credits,
.ig-scrollmation {
  & .section-body__container {
    @include oColorsFor(ig-text-over-media, text);
  }
}

.section-body--credits {
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
  
  @include igBackgroundOverlay;
  &:after {
    z-index: 1
  }

  .section-media {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .section-body__container {
    position: relative;
    z-index: 2;
  }
}

@include oGridRespondTo(M) {
// add a background layer:
// It must make text over media eligible;
// It must cover the whole screen;
// It must be present even if scrolllmation disabled.
  .section-body.ig-scrollmation {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: linear-gradient(to right, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 50%, transparent);
// Override is .section-body--credits present.
      background-color: none;
// z-index to make the overlay above media, below text.
      z-index: 1;
    }
// Set media height for scrollmation and override 100% set by section-body--credits.   
    .section-media {
      height: 100vh;
    }
    .section-body__container {
      padding-top: 450px;
      padding-bottom: 250px;
      position: relative;
// text shoulbe be above overlay.
      z-index: 2;
    }
  }
}

@include oGridRespondTo($until: M) {
  .section-body.ig-scrollmation {

    .section-media {
// Override ig-scrollmation setting.
      position: relative;
// Override viewport-height setting.
      height: 66vh;
    }
// Add a layer for gradient transition from media to text.
    .section-media:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -1px;
      height: 30%;
      background-image: linear-gradient(to bottom, transparent, #000);
    }

    .section-body__container {
      background-color: #000;
      padding-bottom: 40px;
    }
  }
}