.section-block {
  box-sizing: border-box;
  position: relative;
}

.section-media {
  box-sizing: border-box;

// when .section-block has .viewport-height, it means .section-media inside it is treated as background.
// Since container has fixed height of 100vh, .section-media could use height: 100%;.
  .viewport-height & {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

// when .section-block has .ig-sticky, it means .section-media is treated as background while .section-block does not have fixed height. You have to set .section-media's height explicitly to fill the window height and width.
// .viewport-height and .ig-sticky should be mutually exclusive.
  [data-ig-component="ig-sticky"] & {
    position: relative;
    @include oGridRespondTo(M) {
      position: absolute;
      top: 0;
      width: 100%;
//or
      // left: 0;
      // right: 0;
      height: 100vh;      
    }
  }
 
// when .section-media has .section-media--fixed, it means section the element inside it is position:fixed as background.
// .section-media clips the the background as it scrolls.
  @include oGridRespondTo(M) {
    &--fixed {
      clip: rect(0, auto, auto, 0);

      .ig-media {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }    
  }

// on mobile devies, when .section-block has .ig-sticky, the sticky effect if disabled. .section-media flows naturally. It has a mask from bottom to 30% height as a transition gradient to the text following it.  
  @include oGridRespondTo($until: M) {
    [data-ig-component="ig-sticky"] &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -1px;
      height: 30%;
      background-image: linear-gradient(to bottom, transparent, #000);
    }    
  }
}

.section-text-over-media {
  position: relative;

// when .section-block has .viewport-height.
  .viewport-height & {
    height: 100%;
    @include oColorsFor(ig-text-over-media, text);
    @include igBackgroundMask;
  }

// same as .secion-cols setting.
// mainly for credits page.
  [data-ig-component="ig-sticky"] & {
    background-color: #000;
    padding-bottom: 40px;
    @include oColorsFor(ig-text-over-media, text);


    @include oGridRespondTo(M) {
      padding-top: 450px;
      padding-bottom: 250px;
      
      @include igBackgroundMask;
    }
  }
}

.section-leadin {
  min-width: 290px;
  width: 40%;
  max-width: 620px; 
  padding: 5%;
  margin: 0 auto;
  text-align: center;

  &__text {
    margin: 0;
    padding: 0;
    @include oGridRespondTo(M) {
      font-size: 30px;
    }
  }

  &--positioned {
    position: absolute;
  }
  &.left {
    left: 0;
    text-align: left
  }
  &.bottom {
    bottom: 10%;
  }
  &.right {
    right: 0;
    text-align: right;
  }
  &.center {
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.section-cols {
  position: relative;

// when .section-block has .ig-sticky, .section-cols should scrolled over .section-media.
  [data-ig-component="ig-sticky"] & {
    background-color: #000;
    padding-bottom: 40px;

// It should be high enough to be able to scrolled.
    @include oGridRespondTo(M) {
      padding-top: 450px;
      padding-bottom: 250px;

      @include igBackgroundMask;
// a semi-transparent color masking the image behind it.     
      background: linear-gradient(to right, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 50%, transparent);      
    }

    p {
      @include oColorsFor(ig-text-over-media, text);
    }
  }
}
