.suggested-reads {
	padding-top: 2em;

	&__title {
		margin: 0;
		padding: 0;
		@include oGridRespondTo(M) {
		    font-size: 36px;
		}		
	}

	.read-more {
		@include oGridColspan((default: 12, M: 6, L: 4));		
	}
	.ig-figure {
		padding-bottom: 5px;
	}
	.ig-figure__image {
		object-fit: contain;
	}

	.ig-figure__caption {
		text-align: left;
		font-size: 1.17em;
		font-weight: bold;
		a:hover {
			border-bottom: 1px solid;
		}
	}	
}
