.suggested-reads {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	// border-bottom: 1px dotted oColorsGetPaletteColor('grey-tint3');
	padding: 15px 0;

	a:hover {
		border-bottom: 1px solid;
	}
	
	.ig-figure a {
		border-bottom: 0;
	}

	.ig-figure__image {
		object-fit: contain;
	}

	.ig-figure__caption {
		color: #000;
		text-align: left;
	}

	&__title {
		line-height: 1.2;
		margin: 0;

		@include oGridRespondTo(L) {
			margin: 0;
		}
	}

	&__summary {
		margin: 5px 0 10px 0;
	}

	&__list-item {
		margin: 1em 0;
		font-size: 18px;
	}	
}
