.text-over-media {
	box-sizing: border-box;
	position: relative;
  height: 100vh;

	&__media {
		box-sizing: border-box;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@include oColorsFor(ig-media, background);

    &.background-fixed {
      clip: rect(0, auto, auto, 0);

      .ig-background {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
	}

	&__text {
		box-sizing: border-box;
		// offset fixed header's height
	  padding-top: $o-header-height; 
	  position: relative;
	  height: 100%;
	  @include oColorsFor(ig-text-over-media, text);
	  // add a translucency background
	  @include igBackgroundMask;
	}
}

.ig-leadin {
  min-width: 290px;
  width: 40%;
  max-width: 620px; 
  padding: 5%;
  margin: 0 auto;
  text-align: center;

  &__text {
    margin: 0;
    padding: 0;
    @include oGridRespondTo(M) {
      font-size: 30px;
    }
  }

  &--positioned {
    position: absolute;
  }
  &.left {
    left: 0;
    text-align: left
  }
  &.bottom {
    bottom: 10%;
  }
  &.right {
    right: 0;
    text-align: right;
  }
  &.center {
    left: 50%;
    transform: translate(-50%, 0);
  }
}

