<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="copyright" content="FT中文网">
   	<meta name="robots" content="index,follow">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" /> 
    <link rel="apple-touch-icon" sizes="180x180" href="/bower_components/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/bower_components/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/bower_components/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/bower_components/favicons/apple-touch-icon-76x76.png">

    <link href="/bower_components/favicons/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    <link rel="stylesheet" type="text/css" href="styles/main.css">
	<title>Interactive Graphics Demos - Dark Theme</title>
</head>
<body>
{{> ../views/header/main}}

{{# article}}
    {{> ../views/article/main}}
{{/ article}}

{{# footer}}
    {{> ../views/footer/main}}
{{/ footer}}

<script src="scripts/bundle.js"></script>
</body>
</html>