<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="copyright" content="FT中文网">
   	<meta name="robots" content="index,follow">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
<link rel="apple-touch-icon" sizes="180x180" href="{{iconsPath}}favicons/apple-touch-icon-180x180.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{iconsPath}}favicons/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{iconsPath}}favicons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{iconsPath}}favicons/apple-touch-icon-76x76.png">
<link href="{{iconsPath}}favicons/favicon.ico" type="image/x-icon" rel="shortcut icon" />
<title>{{pageTitle}} - FT中文网</title>
<style type="text/css">
li {
	padding: 0.5em 0;
}
</style>
</head>
<body>
<h1>List of Interactive Graphics</h1>
<ul>
{% for href, text in items %}
    <li><a href="./{{href}}.html" target="_blank">{{text}}</a></li>
{% endfor %}
</ul>
</body>
</html>