.section__read-more {
	padding: 1em 0;
	margin-bottom: 1em;
	border-top: 1px solid;
	border-bottom: 1px solid;
}
.section__read-more-title {
	margin: 10px 0 10px 0;
}
.section__read-more-items{
	a {
		line-height: 1.7;
	}
}