.section__body {
	[data-o-grid-row] {
		justify-content: center;
	}
}
.section__col-primary {
  @include oGridRespondTo(M) {
    @include igGridColWidth($ig-primary-col-width);
  }
}

.section__col-secondary {
  display: none;
  @include oGridRespondTo(M) {
    @include igGridColWidth((12 - $ig-primary-col-width));
  }
}

/* ************** */
.section__header-primary {
	box-sizing: border-box;

	margin: 1em auto;
	padding: 5% 0 12px 0;
	border-bottom: 1px solid white;

	font-weight: normal;
	line-height: 1.1;
	display: inline-block;

	@include oGridRespondTo(M) {
		font-size: 200%;
	}
}

.section__header-secondary {
	box-sizing: border-box;
	font-size: 20px;
	position: absolute;
	bottom: 10%;
	left: 0;
	right: 0;
	
	padding: 5%;
	margin: 0;

	@include oGridRespondTo(M) {
		font-size: 46px;
		min-width: 80%;
		width: 80%;
		margin: 0 auto;
	}
}