.section__more-on {
	padding: 1em 0;
	margin-bottom: 1em;
	border-top: 1px solid;
	border-bottom: 1px solid;

	.section__figure {
		margin: 0;
	}
	.section__figure-container {
		@include igSetMediaRatio(50%);
	}
}